.app-header {
  border-bottom: 3px double #4169e1;
  margin-top: 5px;
  padding-left: 10px; }
  .app-header > div {
    float: left; }
  .app-header .login-form {
    float: right; }
  .app-header:after {
    clear: both; }
  .app-header:after, .app-header:before {
    display: table;
    content: "";
    line-height: 0; }
  .app-header .title {
    font-size: 48pt; }
    .app-header .title a,
    .app-header .title a:hover,
    .app-header .title a:visited,
    .app-header .title a:link,
    .app-header .title a:active {
      color: #000;
      font-style: none; }
  .app-header .login-form {
    text-align: right;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 10pt; }
    .app-header .login-form form input {
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px; }
    .app-header .login-form Formo span {
      margin-right: 15px; }

h1, h2, h3, h4, h5 {
  margin-left: 10px; }

.userinfo {
  background-color: #4169e1;
  color: #fff;
  font-size: 9pt;
  padding: 3px 0; }
  .userinfo .user {
    margin-left: 10px; }
  .userinfo .admin a,
  .userinfo .admin a:hover,
  .userinfo .admin a:visited,
  .userinfo .admin a:link,
  .userinfo .admin a:active {
    color: #fff; }
  .userinfo .admin a:hover {
    text-decoration: underline; }

ul.back-nav {
  list-style: none;
  margin: 0;
  margin-left: 10px; }
  ul.back-nav li {
    float: left;
    margin-right: 20px; }
    ul.back-nav li a:before {
      content: "<< "; }
  ul.back-nav:after {
    clear: both; }
  ul.back-nav:after, ul.back-nav:before {
    display: table;
    content: "";
    line-height: 0; }

.description {
  margin: 10px;
  font-size: 11pt; }
  .description .revision {
    font-weight: bold;
    margin-left: 3px;
    margin-right: 3px; }
  .description .download-link {
    display: block; }
  .description .mdfile-toolbar {
    display: block; }

.no-file {
  margin: 10px;
  color: #888; }

form#docx-upload,
form#docx-create {
  margin: 10px;
  margin-bottom: 30px;
  padding: 10px;
  border: 3px solid #778899;
  background-color: #e6e6fa;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }
  form#docx-upload > div,
  form#docx-create > div {
    margin-bottom: 10px; }
  form#docx-upload .subject,
  form#docx-create .subject {
    font-weight: bold;
    font-size: 115%; }

section.gitlog {
  margin-bottom: 30px; }

section.gitlog .subject {
  margin-left: 10px;
  font-weight: bold; }
section.gitlog .description {
  margin-left: 10px;
  font-size: 80%; }
  section.gitlog .description.alert {
    color: #f00; }

table.file-list {
  margin: 10px;
  width: 97%;
  box-sizing: border-box; }
  table.file-list tr.nonactive {
    background-color: #ccc; }
    table.file-list tr.nonactive.deleted {
      background-color: #aaa; }
  table.file-list tr td .file-detail {
    font-size: 8pt; }
  table.file-list tr td .download-link a,
  table.file-list tr td .download-link a:hover,
  table.file-list tr td .download-link a:link,
  table.file-list tr td .download-link a:visited {
    font-size: 8pt;
    color: #000;
    border: 1px solid #00a;
    background-color: #aaf;
    padding: 2p;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; }
  table.file-list tr td a {
    display: table;
    margin: 5px; }
  table.file-list tr td .file-detail div {
    float: left;
    margin-left: 5px;
    margin-right: 20px; }
  table.file-list tr td .file-detail:after {
    clear: both; }
  table.file-list tr td .file-detail:after, table.file-list tr td .file-detail:before {
    display: table;
    content: "";
    line-height: 0; }
  table.file-list tr td .file-ctrl {
    float: right;
    font-size: 8pt;
    padding: 3px; }
    table.file-list tr td .file-ctrl input[type="submit"] {
      background-color: #cd5c5c;
      color: #fff;
      text-align: center;
      padding-top: 4px;
      border: none;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px; }

table.gitlog {
  margin: 10px;
  width: 97%;
  box-sizing: border-box; }
  table.gitlog thead tr th,
  table.gitlog tbody tr td {
    padding: 3px;
    font-size: 10pt; }
  table.gitlog thead tr th {
    background-color: #696969;
    color: #fff; }
  table.gitlog tbody tr.master {
    background-color: #fff; }
  table.gitlog tbody tr.user-branch {
    background-color: #fffaf0; }
  table.gitlog tbody tr.user-branch.old {
    background-color: #aaaaaa; }
  table.gitlog tbody tr td.date {
    width: 160px; }
  table.gitlog tbody tr td.author {
    width: 200px; }
  table.gitlog tbody tr td.ctrl {
    width: 80px; }
    table.gitlog tbody tr td.ctrl .download-link a,
    table.gitlog tbody tr td.ctrl .download-link a:hover,
    table.gitlog tbody tr td.ctrl .download-link a:link,
    table.gitlog tbody tr td.ctrl .download-link a:visited {
      font-size: 8pt;
      color: #000;
      border: 1px solid #00a;
      background-color: #aaf;
      padding: 2p;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px; }

.diff-view {
  padding: 10px; }
  .diff-view .canvas {
    padding: 5px;
    border: 1px solid #333;
    font-size: 10pt; }
    .diff-view .canvas .line .no, .diff-view .canvas .line .content {
      float: left; }
    .diff-view .canvas .line .no {
      width: 50px;
      padding: 1px 5px 1px 0;
      margin-right: 10px;
      text-align: right;
      background-color: #aaa;
      color: #eee;
      font-size: 8pt; }
    .diff-view .canvas .line:after {
      clear: both; }
    .diff-view .canvas .line:after, .diff-view .canvas .line:before {
      display: table;
      content: "";
      line-height: 0; }

form.mdfile-editor {
  margin: 0 30px 10px 10px; }
  form.mdfile-editor .canvas {
    margin-bottom: 10px; }
    form.mdfile-editor .canvas textarea {
      width: 100%;
      box-sizing: border-box;
      padding: 10px; }

ul.md_menu {
  list-style: none;
  margin: 0 0 0 10px; }
  ul.md_menu li {
    float: left;
    width: 120px;
    text-align: center;
    border: 1px solid #333;
    border-bottom: none;
    background-color: #dfdfdf;
    font-size: 12px;
    padding: 2px; }
    ul.md_menu li:first-child {
      border-right: none; }
    ul.md_menu li.active {
      background-color: #fff; }
    ul.md_menu li a,
    ul.md_menu li a:hover,
    ul.md_menu li a:link,
    ul.md_menu li a.visited {
      display: block;
      width: 100%;
      color: #333;
      font-weight: bold;
      text-decoration: none; }
    ul.md_menu li a:hover {
      background-color: #fee; }
  ul.md_menu:after {
    clear: both; }
  ul.md_menu:after, ul.md_menu:before {
    display: table;
    content: "";
    line-height: 0; }

.document {
  margin: 0 10px 30px;
  padding: 10px;
  width: 95%;
  border: 1px solid #ccc;
  background-color: #fff; }
  .document h1, .document h2, .document h3, .document h4, .document h5, .document h6, .document h7 {
    margin: 0 0 10px 0;
    padding: 0; }
  .document h1 {
    font-size: 40px; }
  .document h2 {
    font-size: 28px; }
  .document h3 {
    font-size: 20px; }
  .document h4 {
    font-size: 16px; }
  .document p {
    margin: 0 0 10px 0;
    padding: 0; }
  .document ol, .document ul {
    margin-left: 28px; }
