/*
 * GLYPH-ICON
 */
i.Glyph {
  width: 26px;
  height: 26px;
  display: inline-block;
  background-color: transparent;
  background-repeat: no-repeat; }

.Glyph.DownloadAlt {
  background-image: url("../img/181_download_alt.png"); }

.Glyph.Bin {
  background-image: url("../img/016_bin.png"); }

.Glyph.InboxPlus {
  background-image: url("../img/131_inbox_plus.png"); }

.Glyph.Ok {
  background-image: url("../img/198_ok.png"); }

.Glyph.Ban {
  background-image: url("../img/199_ban.png"); }

.Glyph.Plus {
  background-position: 3px 3px;
  background-image: url("../img/432_plus.png"); }

.Glyph.Commit {
  background-image: url("../img/141_database_plus.png");
  width: 27px;
  height: 27px; }

.Glyph.Edit {
  background-image: url("../img/151_edit.png"); }

.Glyph.Source {
  background-image: url("../img/036_file.png"); }

.Glyph.Image {
  background-image: url("../img/159_picture.png"); }

.Glyph.Outline {
  background-image: url("../img/156_show_lines.png"); }

.Glyph.Upload {
  background-image: url("../img/201_upload.png"); }

.Glyph.Cogwheel {
  background-image: url("../img/019_cogwheel.png"); }

a.Glyph {
  display: inline-block;
  float: left; }
  a.Glyph:after, a.Glyph:before {
    display: table;
    content: "";
    line-height: 0; }
  a.Glyph:after {
    clear: both; }

a.Glyph, input[type=submit].Glyph {
  padding: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  height: 26px;
  padding-left: 28px; }
  a.Glyph:hover, input[type=submit].Glyph:hover {
    background-color: transparent; }

a.Button {
  display: inline-block;
  border: 1px solid #000;
  padding: 5px 8px;
  vertical-align: middle;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }
  a.Button i {
    margin-bottom: -5px;
    margin-right: 3px; }
  a.Button.Orange {
    background-color: #ff4500;
    border: 1px solid #ff7f50; }

form input[type=submit], form input[type=button], form button {
  padding: 4px 6px;
  text-align: center;
  line-height: 1.0em;
  font-size: 85%;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #aaa;
  color: #555;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }
form input[type=submit]:hover, form input[type=button]:hover, form button:hover {
  background-color: #f5deb3;
  color: #222; }
form input[type=text], form textarea {
  font-size: 85%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }

a.Btn {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #555;
  padding: 4px 6px;
  text-align: center;
  display: table;
  float: left;
  font-size: 85%;
  font-weight: bold;
  color: #000;
  background-color: #fff; }
  a.Btn:hover {
    background-color: #f5deb3;
    color: #222; }
  a.Btn:after, a.Btn:before {
    display: table;
    content: "";
    line-height: 0; }
  a.Btn:after {
    clear: both; }

.AppHeader {
  border-bottom: 3px double #4169e1;
  margin-top: 10px; }
  .AppHeader .Row > div {
    float: left; }
    .AppHeader .Row > div.LoginForm {
      float: right; }
  .AppHeader .Row:after, .AppHeader .Row:before {
    display: table;
    content: "";
    line-height: 0; }
  .AppHeader .Row:after {
    clear: both; }
  .AppHeader .Title {
    font-size: 48pt; }
    .AppHeader .Title a,
    .AppHeader .Title a:hover,
    .AppHeader .Title a:visited,
    .AppHeader .Title a:link,
    .AppHeader .Title a:active {
      color: #000;
      font-style: none; }
  .AppHeader .LoginForm {
    text-align: right;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 10pt; }
    .AppHeader .LoginForm form input {
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px; }
    .AppHeader .LoginForm form span {
      margin-right: 15px; }

h1, h2, h3, h4, h5 {
  margin-left: 10px; }

body > section > h1, body > section > h2, body > section > h3, body > section > h4, body > section > h5, body > section > h6, body > section > p, body > section > div, body > section > table, body > section > ul, body > section > ou, body > section > form {
  margin-left: 30px;
  margin-right: 30px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box; }

section.Message {
  margin-bottom: 20px;
  font-size: 10pt; }
  section.Message > div {
    padding: 3px 5px;
    background-color: #fff;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px; }
    section.Message > div.Info {
      border: 1px solid #4169e1; }
    section.Message > div.Error {
      color: #f00;
      border: 1px solid #f00; }

section.Admin h1 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2.0em; }
section.Admin ul.UserManage {
  list-style: none; }

section.Error div.Error {
  border: 3px solid #b22222;
  background-color: #ffd0db;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }

.UserInfo {
  background-color: #4169e1;
  color: #fff;
  font-size: 9pt;
  padding: 3px 0; }
  .UserInfo ul {
    list-style: none; }
    .UserInfo ul li {
      float: left;
      margin-right: 30px; }
    .UserInfo ul:after, .UserInfo ul:before {
      display: table;
      content: "";
      line-height: 0; }
    .UserInfo ul:after {
      clear: both; }
  .UserInfo .Admin a,
  .UserInfo .Admin a:hover,
  .UserInfo .Admin a:visited,
  .UserInfo .Admin a:link,
  .UserInfo .Admin a:active {
    color: #fff; }
  .UserInfo .Admin a:hover {
    text-decoration: underline; }

ul.BackNav {
  list-style: none;
  font-size: 11px;
  height: 20px;
  margin: 0 0 0 30px; }
  ul.BackNav li {
    float: left;
    margin-right: 10px; }
    ul.BackNav li a:before {
      content: "<<    "; }
  ul.BackNav:after, ul.BackNav:before {
    display: table;
    content: "";
    line-height: 0; }
  ul.BackNav:after {
    clear: both; }

.Description .Revision {
  font-weight: bold;
  margin-left: 3px;
  margin-right: 3px; }
.Description .DownloadLink {
  display: block; }
.Description .MdfileToolbar {
  display: block; }

.NoFile {
  margin: 10px;
  color: #888; }

form#docxCreate {
  margin: 10px;
  margin-bottom: 30px;
  padding: 10px;
  border: 3px solid #778899;
  background-color: #e6e6fa;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }
  form#docxCreate > div {
    margin-bottom: 10px; }
  form#docxCreate .Subject {
    font-weight: bold;
    font-size: 115%; }

section.Gitlog {
  margin-bottom: 30px; }
  section.Gitlog h3 {
    margin-top: 0;
    margin-bottom: 10px; }
  section.Gitlog .Logtable .Description {
    font-size: 80%;
    padding: 5px;
    border: 1px solid #000;
    background-color: #fff; }
    section.Gitlog .Logtable .Description.Alert {
      color: #f00; }
  section.Gitlog ul.BufferList {
    list-style: none;
    font-size: 11px; }
    section.Gitlog ul.BufferList li {
      float: left;
      border-style: solid;
      border-width: 1px 1px 0 0;
      border-color: #555; }
      section.Gitlog ul.BufferList li:first-child {
        border-left: 1px solid #555; }
      section.Gitlog ul.BufferList li.Active {
        font-weight: bold; }
        section.Gitlog ul.BufferList li.Active a {
          background-color: #fff; }
      section.Gitlog ul.BufferList li a {
        display: block;
        background-color: #dedede;
        padding: 3px 6px;
        text-align: center;
        color: #000; }
        section.Gitlog ul.BufferList li a:hover {
          color: #000;
          background-color: #b0c4de; }
    section.Gitlog ul.BufferList:after, section.Gitlog ul.BufferList:before {
      display: table;
      content: "";
      line-height: 0; }
    section.Gitlog ul.BufferList:after {
      clear: both; }
  section.Gitlog table.Gitlog {
    font-size: 11px;
    line-heigth: 1.1em;
    box-sizing: border-box;
    width: 100%;
    border-color: #000; }
    section.Gitlog table.Gitlog th, section.Gitlog table.Gitlog td {
      border-color: #000; }
    section.Gitlog table.Gitlog thead tr th, section.Gitlog table.Gitlog tbody tr td {
      padding: 3px 6px; }
    section.Gitlog table.Gitlog thead tr th {
      background-color: #696969;
      color: #fff; }
    section.Gitlog table.Gitlog tbody tr td.Date {
      width: 160px; }
    section.Gitlog table.Gitlog tbody tr td.Author {
      width: 200px; }
    section.Gitlog table.Gitlog tbody tr td.Ctrl {
      width: 80px; }
      section.Gitlog table.Gitlog tbody tr td.Ctrl > ul {
        list-style: none;
        margin-left: 0; }
      section.Gitlog table.Gitlog tbody tr td.Ctrl .DownloadLink a,
      section.Gitlog table.Gitlog tbody tr td.Ctrl .DownloadLink a:hover,
      section.Gitlog table.Gitlog tbody tr td.Ctrl .DownloadLink a:link,
      section.Gitlog table.Gitlog tbody tr td.Ctrl .DownloadLink a:visited {
        font-size: 8pt;
        color: #000;
        border: 1px solid #00a;
        background-color: #aaf;
        padding: 2p;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px; }
    section.Gitlog table.Gitlog tbody tr.Master {
      background-color: #fff; }
    section.Gitlog table.Gitlog tbody tr.UserBranch {
      background-color: #fffaf0; }
    section.Gitlog table.Gitlog tbody tr.UserBranch.Old {
      background-color: #aaaaaa; }

section.Top .TopMenu {
  margin-top: 20px;
  margin-bottom: 20px; }
  section.Top .TopMenu .Subject {
    margin-bottom: 20px; }
    section.Top .TopMenu .Subject .Title {
      font-weight: bold;
      font-size: 2.0em; }
    section.Top .TopMenu .Subject.Disable {
      color: #888; }
    section.Top .TopMenu .Subject + .Caution {
      font-size: 60%;
      margin-left: 10px;
      color: #f00; }
    section.Top .TopMenu .Subject .Menu {
      float: right; }
  section.Top .TopMenu table.DocList {
    box-sizing: border-box; }
    section.Top .TopMenu table.DocList tr.Nonactive {
      background-color: #ddd; }
      section.Top .TopMenu table.DocList tr.Nonactive.Deleted {
        background-color: #aaa; }
    section.Top .TopMenu table.DocList tr td > .DocSubject {
      float: left;
      padding: 5px; }
      section.Top .TopMenu table.DocList tr td > .DocSubject > div {
        float: left; }
        section.Top .TopMenu table.DocList tr td > .DocSubject > div.Name a {
          color: #0129a0;
          font-weight: bold; }
          section.Top .TopMenu table.DocList tr td > .DocSubject > div.Name a:hover {
            color: #ff6437; }
        section.Top .TopMenu table.DocList tr td > .DocSubject > div:after, section.Top .TopMenu table.DocList tr td > .DocSubject > div:before {
          display: table;
          content: "";
          line-height: 0; }
        section.Top .TopMenu table.DocList tr td > .DocSubject > div:after {
          clear: both; }
    section.Top .TopMenu table.DocList tr td > .DocCtrl {
      float: right;
      padding: 5px; }
      section.Top .TopMenu table.DocList tr td > .DocCtrl input.Glyph {
        margin-left: 5px; }
    section.Top .TopMenu table.DocList tr td .DocDetail {
      clear: both;
      font-size: 8pt;
      border-top: 1px dashed rgba(0, 0, 0, 0.1); }
      section.Top .TopMenu table.DocList tr td .DocDetail div {
        float: left;
        margin-left: 20px; }
        section.Top .TopMenu table.DocList tr td .DocDetail div:first-child {
          margin-left: 5px; }
      section.Top .TopMenu table.DocList tr td .DocDetail:after, section.Top .TopMenu table.DocList tr td .DocDetail:before {
        display: table;
        content: "";
        line-height: 0; }
      section.Top .TopMenu table.DocList tr td .DocDetail:after {
        clear: both; }

section.Docinfo h1, section.Docinfo h2 {
  margin-top: 0; }
section.Docinfo h1 {
  font-size: 2.0em;
  margin-bottom: 5px; }
  section.Docinfo h1 .Title {
    font-weight: normal;
    margin-right: 10px; }
section.Docinfo h2 .DownloadAlt {
  margin-right: 10px; }
section.Docinfo h2 .Supplement {
  color: #000;
  font-size: 12px;
  margin-left: 10px; }
section.Docinfo:after, section.Docinfo:before {
  display: table;
  content: "";
  line-height: 0; }
section.Docinfo:after {
  clear: both; }
section.Docinfo > .Description {
  font-size: 11px;
  margin-bottom: 5px;
  color: #555; }
  section.Docinfo > .Description > div {
    float: left;
    margin-right: 10px; }
    section.Docinfo > .Description > div .Active {
      font-weight: bold;
      text-decoration: underline; }
  section.Docinfo > .Description:after, section.Docinfo > .Description:before {
    display: table;
    content: "";
    line-height: 0; }
  section.Docinfo > .Description:after {
    clear: both; }
section.Docinfo > ul.DocCtrl {
  list-style: none;
  margin-bottom: 20px; }
  section.Docinfo > ul.DocCtrl li {
    float: left;
    margin-right: 5px; }
    section.Docinfo > ul.DocCtrl li:fist-child {
      margin-right: 0; }
    section.Docinfo > ul.DocCtrl li.Selected a.Btn {
      background-color: #6d562b;
      color: #fff;
      cursor: default;
      font-weight: normal; }
  section.Docinfo > ul.DocCtrl:after, section.Docinfo > ul.DocCtrl:before {
    display: table;
    content: "";
    line-height: 0; }
  section.Docinfo > ul.DocCtrl:after {
    clear: both; }
section.Docinfo .UserAction {
  margin-bottom: 20px; }
  section.Docinfo .UserAction h3 {
    font-size: 15px;
    margin: 0 0 3px;
    padding: 6px 3px 3px;
    background-color: #fff;
    border-bottom: 3px solid #888; }
  section.Docinfo .UserAction h3 + .Description {
    font-size: 10px; }
  section.Docinfo .UserAction ul.Menu {
    list-style: none;
    margin-bottom: 20px; }
    section.Docinfo .UserAction ul.Menu li {
      float: left;
      margin-right: 20px; }
      section.Docinfo .UserAction ul.Menu li form.DocUploadForm {
        margin: 0;
        padding: 0;
        font-size: 14px;
        border: 1px solid #000;
        padding: 4px 6px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        background-color: #fff; }
        section.Docinfo .UserAction ul.Menu li form.DocUploadForm > div {
          margin-bottom: 4px; }
          section.Docinfo .UserAction ul.Menu li form.DocUploadForm > div.Subject {
            font-weight: bold; }
          section.Docinfo .UserAction ul.Menu li form.DocUploadForm > div label {
            font-size: 9px; }
    section.Docinfo .UserAction ul.Menu:after, section.Docinfo .UserAction ul.Menu:before {
      display: table;
      content: "";
      line-height: 0; }
    section.Docinfo .UserAction ul.Menu:after {
      clear: both; }
section.Docinfo .OutputMenu {
  margin-bottom: 20px; }
  section.Docinfo .OutputMenu button {
    padding: 4px 6px;
    text-align: center;
    line-height: 1.0em;
    font-size: 85%;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #aaa;
    color: #555;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px; }
  section.Docinfo .OutputMenu button:hover {
    background-color: #f5deb3;
    color: #222; }

section.Outline.PrintFormat {
  padding: 0; }
  section.Outline.PrintFormat > div.Page {
    margin: 0;
    margin-bottom: -1px;
    border: none;
    border-bottom: 1px solid #aaa;
    box-shadown: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none; }

section.Outline {
  background-color: #fff;
  padding: 30px 0;
  font-size: 12pt;
  line-height: 1.2em; }
  section.Outline > div .Subject {
    font-weight: bold;
    font-size: 24pt;
    line-height: 1.5em;
    text-align: center; }
  section.Outline > div.Page {
    height: 297mm;
    width: 210mm;
    margin-bottom: 10mm;
    border: 1mm solid #555;
    box-shadow: 1px 1.5px 1px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 1px 1.5px 1px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1.5px 1px 1px rgba(0, 0, 0, 0.4);
    padding: 30mm 10mm 40mm; }
  section.Outline .Document {
    padding: 10px;
    border: 2px solid #888;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.2em; }
    section.Outline .Document h1, section.Outline .Document h2, section.Outline .Document h3, section.Outline .Document h4, section.Outline .Document h5, section.Outline .Document h6, section.Outline .Document h7 {
      margin: 0;
      padding: 30px 0 10px 0; }
    section.Outline .Document h1:first-child, section.Outline .Document h2:first-child, section.Outline .Document h3:first-child {
      padding-top: 20px; }
    section.Outline .Document h1 {
      padding-top: 70px;
      font-size: 40px; }
    section.Outline .Document h2 {
      padding-top: 40px;
      font-size: 28px; }
    section.Outline .Document h3 {
      font-size: 18px; }
    section.Outline .Document h4 {
      font-size: 14px; }
    section.Outline .Document p, section.Outline .Document div {
      margin: 0;
      padding: 3px 3px 10px 3px; }
    section.Outline .Document ol, section.Outline .Document ul {
      margin-left: 0;
      padding-left: 28px; }
      section.Outline .Document ol li, section.Outline .Document ul li {
        margin-bottom: 10px; }
    section.Outline .Document table thead {
      background-color: #888;
      color: #Fff;
      font-size: 85%; }
    section.Outline .Document table tr td, section.Outline .Document table tr th {
      padding: 3px;
      border-color: #555;
      border-style: solid;
      border-width: 1px 0 0 1px; }
    section.Outline .Document table th:last-child, section.Outline .Document table td:last-child {
      border-color: #555;
      border-style: solid;
      border-width: 1px 1px 0 1px; }
    section.Outline .Document table tr:last-child td {
      border-color: #555;
      border-style: solid;
      border-width: 1px 1px 1px 1px; }
    section.Outline .Document blockquote {
      padding: 5px;
      font-size: 80%;
      border: 1px solid #aaa; }
  section.Outline .Cover {
    text-align: center; }
    section.Outline .Cover .Title {
      font-size: 36px;
      font-weight: bold;
      padding: 30px 0; }
    section.Outline .Cover .Revision {
      font-size: 12px; }
  section.Outline .History {
    font-size: 10pt;
    line-height: 1.0em; }
    section.Outline .History table.Gitlog .Date, section.Outline .History table.Gitlog .Rev {
      width: 28mm; }
  section.Outline .Contents {
    margin-bottom: 30px; }
    section.Outline .Contents > ul {
      margin-left: 30px;
      font-size: 10pt;
      line-height: 1.0em;
      list-style: none; }
      section.Outline .Contents > ul li.Level1 {
        margin-top: 10px;
        border-bottom: 1px dashed #aaa; }
      section.Outline .Contents > ul li.Level2 {
        font-size: 80%;
        padding-left: 50px; }
      section.Outline .Contents > ul li.Level3 {
        font-size: 70%;
        padding-left: 80px; }
      section.Outline .Contents > ul li.Level4 {
        font-size: 70%;
        padding-left: 100px; }

section.OutlineEditor ul.BufferEditMenu {
  position: absolute;
  list-style: none;
  margin-right: 0;
  width: 140px; }
  section.OutlineEditor ul.BufferEditMenu > li a {
    cursor: pointer;
    font-size: 7pt;
    font-weight: bold;
    color: #000;
    padding-right: 30px;
    padding-top: 5px;
    margin-bottom: 3px;
    width: 80px; }
    section.OutlineEditor ul.BufferEditMenu > li a:hover {
      color: #000;
      background-color: #f5deb3; }
  section.OutlineEditor ul.BufferEditMenu > li.Selected {
    padding-left: 15px; }
    section.OutlineEditor ul.BufferEditMenu > li.Selected a:hover, section.OutlineEditor ul.BufferEditMenu > li.Selected a:link, section.OutlineEditor ul.BufferEditMenu > li.Selected a:visited {
      cursor: default;
      background-color: transparent; }
    section.OutlineEditor ul.BufferEditMenu > li.Selected a:before {
      float: left;
      border: 8px solid transparent;
      border-left: 10px solid #000; }
section.OutlineEditor .BufferEdit {
  margin-left: 180px; }
section.OutlineEditor .Document {
  background-color: #fff;
  border: 2px solid #888;
  padding: 10px; }
  section.OutlineEditor .Document #blkTmpl, section.OutlineEditor .Document #divideInfo {
    display: none; }
  section.OutlineEditor .Document .OutlineDivide {
    border: 2px solid #00f; }
  section.OutlineEditor .Document .Blk a.BtnExpand {
    cursor: pointer; }
  section.OutlineEditor .Document .Blk .Tagname {
    border: 2px solid #ff4500;
    background-color: #f5deb3;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 9pt;
    font-weight: bold;
    padding: 2px 5px; }
  section.OutlineEditor .Document .Blk .Digest {
    font-size: 80%;
    margin: 0 5px; }
    section.OutlineEditor .Document .Blk .Digest:before {
      content: "\""; }
    section.OutlineEditor .Document .Blk .Digest:after {
      content: "... \""; }
  section.OutlineEditor .Document .Blk .InsertDivide {
    font-size: 65%;
    font-weight: bold;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; }
  section.OutlineEditor .Document .Blk + .Md {
    padding: 10px;
    border: 2px dashed #aaa;
    margin-top: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px; }
  section.OutlineEditor .Document .Blk + ul.Md, section.OutlineEditor .Document .Blk + ol.Md {
    padding-left: 30px; }
  section.OutlineEditor .Document .Blk:after, section.OutlineEditor .Document .Blk:before {
    display: table;
    content: "";
    line-height: 0; }
  section.OutlineEditor .Document .Blk:after {
    clear: both; }

table.Gitlog {
  font-size: 11px;
  line-heigth: 1.1em;
  box-sizing: border-box;
  width: 100%;
  border-color: #000; }
  table.Gitlog th, table.Gitlog td {
    border-color: #000; }
  table.Gitlog thead tr th, table.Gitlog tbody tr td {
    padding: 3px 6px; }
  table.Gitlog thead tr th {
    background-color: #696969;
    color: #fff; }
  table.Gitlog tbody tr td.Date {
    width: 160px; }
  table.Gitlog tbody tr td.Author {
    width: 200px; }
  table.Gitlog tbody tr td.Ctrl {
    width: 80px; }
    table.Gitlog tbody tr td.Ctrl > ul {
      list-style: none;
      margin-left: 0; }
    table.Gitlog tbody tr td.Ctrl .DownloadLink a,
    table.Gitlog tbody tr td.Ctrl .DownloadLink a:hover,
    table.Gitlog tbody tr td.Ctrl .DownloadLink a:link,
    table.Gitlog tbody tr td.Ctrl .DownloadLink a:visited {
      font-size: 8pt;
      color: #000;
      border: 1px solid #00a;
      background-color: #aaf;
      padding: 2p;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px; }

.DiffView {
  padding: 10px; }
  .DiffView .Canvas {
    padding: 5px;
    border: 1px solid #333;
    font-size: 10pt; }
    .DiffView .Canvas .Line .No, .DiffView .Canvas .Line .Content {
      float: left; }
    .DiffView .Canvas .Line .No {
      width: 50px;
      padding: 1px 5px 1px 0;
      margin-right: 10px;
      text-align: right;
      background-color: #aaa;
      color: #eee;
      font-size: 8pt; }
    .DiffView .Canvas .Line:after, .DiffView .Canvas .Line:before {
      display: table;
      content: "";
      line-height: 0; }
    .DiffView .Canvas .Line:after {
      clear: both; }

.Document {
  margin-bottom: 50px; }
  .Document > ul.Property {
    list-style: none;
    font-size: 10px;
    margin-bottom: 0;
    background-color: #333;
    color: #fff; }
    .Document > ul.Property li {
      padding: 3px 7px;
      border-bottom: 1px solid #888; }
      .Document > ul.Property li:last-child {
        border-bottom-width: 0; }
      .Document > ul.Property li > div {
        float: left; }
      .Document > ul.Property li:after, .Document > ul.Property li:before {
        display: table;
        content: "";
        line-height: 0; }
      .Document > ul.Property li:after {
        clear: both; }
      .Document > ul.Property li .Subject {
        width: 100px; }
      .Document > ul.Property li.Status {
        font-size: 17px;
        padding: 5px 7px; }
  .Document > .Canvas {
    padding: 10px;
    border: 2px solid #888;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.2em; }
    .Document > .Canvas h1, .Document > .Canvas h2, .Document > .Canvas h3, .Document > .Canvas h4, .Document > .Canvas h5, .Document > .Canvas h6, .Document > .Canvas h7 {
      margin: 0;
      padding: 30px 0 10px 0; }
    .Document > .Canvas h1:first-child, .Document > .Canvas h2:first-child, .Document > .Canvas h3:first-child {
      padding-top: 20px; }
    .Document > .Canvas h1 {
      padding-top: 70px;
      font-size: 40px; }
    .Document > .Canvas h2 {
      padding-top: 40px;
      font-size: 28px; }
    .Document > .Canvas h3 {
      font-size: 18px; }
    .Document > .Canvas h4 {
      font-size: 14px; }
    .Document > .Canvas p, .Document > .Canvas div {
      margin: 0;
      padding: 3px 3px 10px 3px; }
    .Document > .Canvas ol, .Document > .Canvas ul {
      margin-left: 0;
      padding-left: 28px; }
      .Document > .Canvas ol li, .Document > .Canvas ul li {
        margin-bottom: 10px; }
    .Document > .Canvas table thead {
      background-color: #888;
      color: #Fff;
      font-size: 85%; }
    .Document > .Canvas table tr td, .Document > .Canvas table tr th {
      padding: 3px;
      border-color: #555;
      border-style: solid;
      border-width: 1px 0 0 1px; }
    .Document > .Canvas table th:last-child, .Document > .Canvas table td:last-child {
      border-color: #555;
      border-style: solid;
      border-width: 1px 1px 0 1px; }
    .Document > .Canvas table tr:last-child td {
      border-color: #555;
      border-style: solid;
      border-width: 1px 1px 1px 1px; }
    .Document > .Canvas blockquote {
      padding: 5px;
      font-size: 80%;
      border: 1px solid #aaa; }

section.MdBuffer ul.BufferEditMenu {
  position: absolute;
  list-style: none;
  margin-right: 0;
  width: 140px; }
  section.MdBuffer ul.BufferEditMenu > li a {
    cursor: pointer;
    font-size: 7pt;
    font-weight: bold;
    color: #000;
    padding-right: 30px;
    padding-top: 5px;
    margin-bottom: 3px;
    width: 80px; }
    section.MdBuffer ul.BufferEditMenu > li a:hover {
      color: #000;
      background-color: #f5deb3; }
  section.MdBuffer ul.BufferEditMenu > li.Selected {
    padding-left: 15px; }
    section.MdBuffer ul.BufferEditMenu > li.Selected a:hover, section.MdBuffer ul.BufferEditMenu > li.Selected a:link, section.MdBuffer ul.BufferEditMenu > li.Selected a:visited {
      cursor: default;
      background-color: transparent; }
    section.MdBuffer ul.BufferEditMenu > li.Selected a:before {
      float: left;
      border: 8px solid transparent;
      border-left: 10px solid #000; }
section.MdBuffer .BufferEdit {
  margin-left: 180px; }
  section.MdBuffer .BufferEdit form .Canvas {
    margin-bottom: 10px; }
    section.MdBuffer .BufferEdit form .Canvas textarea {
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      border: 2px solid #800000;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0; }
  section.MdBuffer .BufferEdit ul.Pagenav {
    list-style: none; }
    section.MdBuffer .BufferEdit ul.Pagenav li {
      float: left;
      margin-right: 5px;
      padding: 5px;
      border: 1px solid #aaa; }
      section.MdBuffer .BufferEdit ul.Pagenav li a.OutlinePage {
        cursor: pointer; }
        section.MdBuffer .BufferEdit ul.Pagenav li a.OutlinePage.Active {
          font-weight: bold;
          text-decoration: underline;
          color: #000; }
    section.MdBuffer .BufferEdit ul.Pagenav:after, section.MdBuffer .BufferEdit ul.Pagenav:before {
      display: table;
      content: "";
      line-height: 0; }
    section.MdBuffer .BufferEdit ul.Pagenav:after {
      clear: both; }
  section.MdBuffer .BufferEdit .Document {
    background-color: #fff;
    border: 2px solid #888;
    padding: 10px;
    padding: 10px;
    border: 2px solid #888;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.2em; }
    section.MdBuffer .BufferEdit .Document > * {
      border: 3px solid #fff; }
    section.MdBuffer .BufferEdit .Document > .Focus {
      background-color: #b0c4de;
      border: 3px solid #9fb3cd;
      cursor: pointer;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px; }
    section.MdBuffer .BufferEdit .Document > .Md {
      display: none; }
    section.MdBuffer .BufferEdit .Document > .Uneditable {
      background-color: #ecc;
      color: #888; }
    section.MdBuffer .BufferEdit .Document .Editform textarea.Editdata {
      width: 100%;
      box-sizing: boder-box;
      margin-bottom: 5px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px; }
    section.MdBuffer .BufferEdit .Document .Editform button {
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px; }
    section.MdBuffer .BufferEdit .Document h1, section.MdBuffer .BufferEdit .Document h2, section.MdBuffer .BufferEdit .Document h3, section.MdBuffer .BufferEdit .Document h4, section.MdBuffer .BufferEdit .Document h5, section.MdBuffer .BufferEdit .Document h6, section.MdBuffer .BufferEdit .Document h7 {
      margin: 0;
      padding: 30px 0 10px 0; }
    section.MdBuffer .BufferEdit .Document h1:first-child, section.MdBuffer .BufferEdit .Document h2:first-child, section.MdBuffer .BufferEdit .Document h3:first-child {
      padding-top: 20px; }
    section.MdBuffer .BufferEdit .Document h1 {
      padding-top: 70px;
      font-size: 40px; }
    section.MdBuffer .BufferEdit .Document h2 {
      padding-top: 40px;
      font-size: 28px; }
    section.MdBuffer .BufferEdit .Document h3 {
      font-size: 18px; }
    section.MdBuffer .BufferEdit .Document h4 {
      font-size: 14px; }
    section.MdBuffer .BufferEdit .Document p, section.MdBuffer .BufferEdit .Document div {
      margin: 0;
      padding: 3px 3px 10px 3px; }
    section.MdBuffer .BufferEdit .Document ol, section.MdBuffer .BufferEdit .Document ul {
      margin-left: 0;
      padding-left: 28px; }
      section.MdBuffer .BufferEdit .Document ol li, section.MdBuffer .BufferEdit .Document ul li {
        margin-bottom: 10px; }
    section.MdBuffer .BufferEdit .Document table thead {
      background-color: #888;
      color: #Fff;
      font-size: 85%; }
    section.MdBuffer .BufferEdit .Document table tr td, section.MdBuffer .BufferEdit .Document table tr th {
      padding: 3px;
      border-color: #555;
      border-style: solid;
      border-width: 1px 0 0 1px; }
    section.MdBuffer .BufferEdit .Document table th:last-child, section.MdBuffer .BufferEdit .Document table td:last-child {
      border-color: #555;
      border-style: solid;
      border-width: 1px 1px 0 1px; }
    section.MdBuffer .BufferEdit .Document table tr:last-child td {
      border-color: #555;
      border-style: solid;
      border-width: 1px 1px 1px 1px; }
    section.MdBuffer .BufferEdit .Document blockquote {
      padding: 5px;
      font-size: 80%;
      border: 1px solid #aaa; }
section.MdBuffer .BufferEdit.Source .Ctrl {
  margin-bottom: 10px; }
  section.MdBuffer .BufferEdit.Source .Ctrl input[type=submit] {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #fff; }
section.MdBuffer .UploadForm {
  margin-left: 180px; }
  section.MdBuffer .UploadForm h3 {
    margin-top: 0;
    margin-left: 0; }
section.MdBuffer .MdBufferFix {
  margin-bottom: 0; }
section.MdBuffer .ImageManager {
  background-color: #fff;
  border: 2px solid #888;
  padding: 10px; }
  section.MdBuffer .ImageManager form.ImageAction {
    margin: 30px 0; }
    section.MdBuffer .ImageManager form.ImageAction ul.Thumbnail {
      list-style: none;
      margin: 10px 0; }
      section.MdBuffer .ImageManager form.ImageAction ul.Thumbnail li {
        float: left; }
        section.MdBuffer .ImageManager form.ImageAction ul.Thumbnail li .Info {
          font-size: 9pt; }
      section.MdBuffer .ImageManager form.ImageAction ul.Thumbnail:after, section.MdBuffer .ImageManager form.ImageAction ul.Thumbnail:before {
        display: table;
        content: "";
        line-height: 0; }
      section.MdBuffer .ImageManager form.ImageAction ul.Thumbnail:after {
        clear: both; }

.BufferCommitForm {
  position: absolute;
  padding: 30px 40px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%; }
  .BufferCommitForm .MdBufferFix {
    color: #fff; }
    .BufferCommitForm .MdBufferFix h3 {
      margin-top: 0; }
    .BufferCommitForm .MdBufferFix textarea.History {
      width: 100%;
      height: 100px;
      margin-bottom: 5px; }
    .BufferCommitForm .MdBufferFix .Ctrl input[type=submit], .BufferCommitForm .MdBufferFix .Ctrl a.Btn, .BufferCommitForm .MdBufferFix .Ctrl a.Btn:link {
      float: left;
      margin-right: 5px;
      cursor: pointer;
      padding: 4px 6px;
      text-align: center;
      line-height: 1.0em;
      font-size: 85%;
      font-weight: bold;
      background-color: #fff;
      border: 1px solid #aaa;
      color: #555;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px; }
    .BufferCommitForm .MdBufferFix .Ctrl input[type=submit]:hover, .BufferCommitForm .MdBufferFix .Ctrl a.Btn:hover {
      background-color: #f5deb3;
      color: #222; }
    .BufferCommitForm .MdBufferFix .Ctrl:after, .BufferCommitForm .MdBufferFix .Ctrl:before {
      display: table;
      content: "";
      line-height: 0; }
    .BufferCommitForm .MdBufferFix .Ctrl:after {
      clear: both; }
