/*
 * GLYPH-ICON
 */
i.glyph {
  width: 26px;
  height: 26px;
  display: inline-block;
  background-color: transparent;
  background-repeat: no-repeat; }

.glyph.download-alt {
  background-image: url("../img/181_download_alt.png"); }

.glyph.bin {
  background-image: url("../img/016_bin.png"); }

.glyph.inbox_plus {
  background-image: url("../img/131_inbox_plus.png"); }

.glyph.ok {
  background-image: url("../img/198_ok.png"); }

.glyph.ban {
  background-image: url("../img/199_ban.png"); }

.glyph.plus {
  background-position: 3px 3px;
  background-image: url("../img/432_plus.png"); }

a.glyph {
  display: inline-block;
  float: left; }
  a.glyph:after {
    clear: both; }
  a.glyph:after, a.glyph:before {
    display: table;
    content: "";
    line-height: 0; }

a.glyph, input[type=submit].glyph {
  padding: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  height: 26px;
  padding-left: 28px; }
  a.glyph:hover, input[type=submit].glyph:hover {
    background-color: transparent; }

a.button {
  display: inline-block;
  border: 1px solid #000;
  padding: 5px 8px;
  vertical-align: middle;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }
  a.button i {
    margin-bottom: -5px;
    margin-right: 3px; }
  a.button.orange {
    background-color: #ff4500;
    border: 1px solid #ff7f50; }

form input[type=submit], form input[type=button], form button {
  padding: 4px 6px;
  text-align: center;
  line-height: 1.0em;
  font-size: 85%;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #aaa;
  color: #555;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }
form input[type=submit]:hover, form input[type=button]:hover, form button:hover {
  background-color: #f5deb3;
  color: #222; }
form input[type=text], form textarea {
  font-size: 85%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }

a.btn {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #555;
  padding: 4px 6px;
  text-align: center;
  display: table;
  float: left;
  font-size: 85%;
  font-weight: bold;
  color: #000;
  background-color: #fff; }
  a.btn:hover {
    background-color: #f5deb3;
    color: #222; }
  a.btn:after {
    clear: both; }
  a.btn:after, a.btn:before {
    display: table;
    content: "";
    line-height: 0; }

.app-header {
  border-bottom: 3px double #4169e1;
  margin-top: 10px; }
  .app-header .row > div {
    float: left; }
    .app-header .row > div.login-form {
      float: right; }
  .app-header .row:after {
    clear: both; }
  .app-header .row:after, .app-header .row:before {
    display: table;
    content: "";
    line-height: 0; }
  .app-header .title {
    font-size: 48pt; }
    .app-header .title a,
    .app-header .title a:hover,
    .app-header .title a:visited,
    .app-header .title a:link,
    .app-header .title a:active {
      color: #000;
      font-style: none; }
  .app-header .login-form {
    text-align: right;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 10pt; }
    .app-header .login-form form input {
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px; }
    .app-header .login-form Formo span {
      margin-right: 15px; }

h1, h2, h3, h4, h5 {
  margin-left: 10px; }

body > section > h1, body > section > h2, body > section > h3, body > section > h4, body > section > h5, body > section > h6, body > section > p, body > section > div, body > section > table, body > section > ul, body > section > ou, body > section > form {
  margin-left: 30px;
  margin-right: 30px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box; }

section.error div.error {
  border: 3px solid #b22222;
  background-color: #ffd0db;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }

.userinfo {
  background-color: #4169e1;
  color: #fff;
  font-size: 9pt;
  padding: 3px 0; }
  .userinfo ul {
    list-style: none; }
    .userinfo ul li {
      float: left;
      margin-right: 30px; }
    .userinfo ul:after {
      clear: both; }
    .userinfo ul:after, .userinfo ul:before {
      display: table;
      content: "";
      line-height: 0; }
  .userinfo .admin a,
  .userinfo .admin a:hover,
  .userinfo .admin a:visited,
  .userinfo .admin a:link,
  .userinfo .admin a:active {
    color: #fff; }
  .userinfo .admin a:hover {
    text-decoration: underline; }

ul.back-nav {
  list-style: none;
  font-size: 11px;
  height: 20px;
  margin: 0 0 0 30px; }
  ul.back-nav li {
    float: left;
    margin-right: 10px; }
    ul.back-nav li a:before {
      content: "<<    "; }
  ul.back-nav:after {
    clear: both; }
  ul.back-nav:after, ul.back-nav:before {
    display: table;
    content: "";
    line-height: 0; }

.description .revision {
  font-weight: bold;
  margin-left: 3px;
  margin-right: 3px; }
.description .download-link {
  display: block; }
.description .mdfile-toolbar {
  display: block; }

.no-file {
  margin: 10px;
  color: #888; }

form#docx-create {
  margin: 10px;
  margin-bottom: 30px;
  padding: 10px;
  border: 3px solid #778899;
  background-color: #e6e6fa;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }
  form#docx-create > div {
    margin-bottom: 10px; }
  form#docx-create .subject {
    font-weight: bold;
    font-size: 115%; }

section.gitlog {
  margin-bottom: 30px; }
  section.gitlog h3 {
    margin-bottom: 10px; }
  section.gitlog .logtable .description {
    font-size: 80%;
    padding: 5px;
    border: 1px solid #000;
    background-color: #fff; }
    section.gitlog .logtable .description.alert {
      color: #f00; }
  section.gitlog ul.buffer-list {
    list-style: none;
    font-size: 11px; }
    section.gitlog ul.buffer-list li {
      float: left;
      border-style: solid;
      border-width: 1px 1px 0 0;
      border-color: #555; }
      section.gitlog ul.buffer-list li:first-child {
        border-left: 1px solid #555; }
      section.gitlog ul.buffer-list li.active {
        font-weight: bold; }
        section.gitlog ul.buffer-list li.active a {
          background-color: #fff; }
      section.gitlog ul.buffer-list li a {
        display: block;
        background-color: #dedede;
        padding: 3px 6px;
        text-align: center;
        color: #000; }
        section.gitlog ul.buffer-list li a:hover {
          color: #000;
          background-color: #b0c4de; }
    section.gitlog ul.buffer-list:after {
      clear: both; }
    section.gitlog ul.buffer-list:after, section.gitlog ul.buffer-list:before {
      display: table;
      content: "";
      line-height: 0; }
  section.gitlog table.gitlog {
    font-size: 11px;
    line-heigth: 1.1em;
    box-sizing: border-box;
    width: 100%;
    border-color: #000; }
    section.gitlog table.gitlog th, section.gitlog table.gitlog td {
      border-color: #000; }
    section.gitlog table.gitlog thead tr th, section.gitlog table.gitlog tbody tr td {
      padding: 3px 6px; }
    section.gitlog table.gitlog thead tr th {
      background-color: #696969;
      color: #fff; }
    section.gitlog table.gitlog tbody tr td.date {
      width: 160px; }
    section.gitlog table.gitlog tbody tr td.author {
      width: 200px; }
    section.gitlog table.gitlog tbody tr td.ctrl {
      width: 80px; }
      section.gitlog table.gitlog tbody tr td.ctrl > ul {
        list-style: none;
        margin-left: 0; }
      section.gitlog table.gitlog tbody tr td.ctrl .download-link a,
      section.gitlog table.gitlog tbody tr td.ctrl .download-link a:hover,
      section.gitlog table.gitlog tbody tr td.ctrl .download-link a:link,
      section.gitlog table.gitlog tbody tr td.ctrl .download-link a:visited {
        font-size: 8pt;
        color: #000;
        border: 1px solid #00a;
        background-color: #aaf;
        padding: 2p;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px; }
    section.gitlog table.gitlog tbody tr.master {
      background-color: #fff; }
    section.gitlog table.gitlog tbody tr.user-branch {
      background-color: #fffaf0; }
    section.gitlog table.gitlog tbody tr.user-branch.old {
      background-color: #aaaaaa; }

section.top .top-menu {
  margin-top: 20px;
  margin-bottom: 20px; }
  section.top .top-menu .subject {
    margin-bottom: 20px; }
    section.top .top-menu .subject .title {
      font-weight: bold;
      font-size: 2.0em; }
    section.top .top-menu .subject.disable {
      color: #888; }
    section.top .top-menu .subject + .caution {
      font-size: 60%;
      margin-left: 10px;
      color: #f00; }
    section.top .top-menu .subject .menu {
      float: right; }
  section.top .top-menu table.doc-list {
    box-sizing: border-box; }
    section.top .top-menu table.doc-list tr.nonactive {
      background-color: #ddd; }
      section.top .top-menu table.doc-list tr.nonactive.deleted {
        background-color: #aaa; }
    section.top .top-menu table.doc-list tr td > .doc-subject {
      float: left;
      padding: 5px; }
      section.top .top-menu table.doc-list tr td > .doc-subject > div {
        float: left; }
        section.top .top-menu table.doc-list tr td > .doc-subject > div.name a {
          color: #0129a0;
          font-weight: bold; }
          section.top .top-menu table.doc-list tr td > .doc-subject > div.name a:hover {
            color: #ff6437; }
        section.top .top-menu table.doc-list tr td > .doc-subject > div:after {
          clear: both; }
        section.top .top-menu table.doc-list tr td > .doc-subject > div:after, section.top .top-menu table.doc-list tr td > .doc-subject > div:before {
          display: table;
          content: "";
          line-height: 0; }
    section.top .top-menu table.doc-list tr td > .doc-ctrl {
      float: right;
      padding: 5px; }
      section.top .top-menu table.doc-list tr td > .doc-ctrl input.glyph {
        margin-left: 5px; }
    section.top .top-menu table.doc-list tr td .doc-detail {
      clear: both;
      font-size: 8pt;
      border-top: 1px dashed rgba(0, 0, 0, 0.1); }
      section.top .top-menu table.doc-list tr td .doc-detail div {
        float: left;
        margin-left: 20px; }
        section.top .top-menu table.doc-list tr td .doc-detail div:first-child {
          margin-left: 5px; }
      section.top .top-menu table.doc-list tr td .doc-detail:after {
        clear: both; }
      section.top .top-menu table.doc-list tr td .doc-detail:after, section.top .top-menu table.doc-list tr td .doc-detail:before {
        display: table;
        content: "";
        line-height: 0; }

section.docinfo h1, section.docinfo h2 {
  margin-top: 0; }
section.docinfo h1 {
  font-size: 2.0em;
  margin-bottom: 5px; }
  section.docinfo h1 .title {
    font-weight: normal;
    margin-right: 10px; }
section.docinfo h2 .download-alt {
  margin-right: 10px; }
section.docinfo h2 .supplement {
  color: #000;
  font-size: 12px;
  margin-left: 10px; }
section.docinfo:after {
  clear: both; }
section.docinfo:after, section.docinfo:before {
  display: table;
  content: "";
  line-height: 0; }
section.docinfo > .description {
  font-size: 11px;
  margin-bottom: 5px;
  color: #555; }
  section.docinfo > .description > div {
    float: left;
    margin-right: 10px; }
    section.docinfo > .description > div .active {
      font-weight: bold;
      text-decoration: underline; }
  section.docinfo > .description:after {
    clear: both; }
  section.docinfo > .description:after, section.docinfo > .description:before {
    display: table;
    content: "";
    line-height: 0; }
section.docinfo > ul.doc-ctrl {
  list-style: none;
  margin-bottom: 20px; }
  section.docinfo > ul.doc-ctrl li {
    float: left;
    margin-right: 5px; }
    section.docinfo > ul.doc-ctrl li:fist-child {
      margin-right: 0; }
    section.docinfo > ul.doc-ctrl li.selected a.btn {
      background-color: #6d562b;
      color: #fff;
      cursor: default;
      font-weight: normal; }
  section.docinfo > ul.doc-ctrl:after {
    clear: both; }
  section.docinfo > ul.doc-ctrl:after, section.docinfo > ul.doc-ctrl:before {
    display: table;
    content: "";
    line-height: 0; }
section.docinfo .user-action {
  margin-bottom: 20px; }
  section.docinfo .user-action h3 {
    font-size: 15px;
    margin: 0 0 3px;
    padding: 6px 3px 3px;
    background-color: #fff;
    border-bottom: 3px solid #888; }
  section.docinfo .user-action h3 + .description {
    font-size: 10px; }
  section.docinfo .user-action ul.menu {
    list-style: none;
    margin-bottom: 20px; }
    section.docinfo .user-action ul.menu li {
      float: left;
      margin-right: 20px; }
      section.docinfo .user-action ul.menu li form.doc-upload-form {
        margin: 0;
        padding: 0;
        font-size: 14px;
        border: 1px solid #000;
        padding: 4px 6px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        background-color: #fff; }
        section.docinfo .user-action ul.menu li form.doc-upload-form > div {
          margin-bottom: 4px; }
          section.docinfo .user-action ul.menu li form.doc-upload-form > div.subject {
            font-weight: bold; }
          section.docinfo .user-action ul.menu li form.doc-upload-form > div label {
            font-size: 9px; }
    section.docinfo .user-action ul.menu:after {
      clear: both; }
    section.docinfo .user-action ul.menu:after, section.docinfo .user-action ul.menu:before {
      display: table;
      content: "";
      line-height: 0; }

section.outline {
  background-color: #fff;
  padding: 30px 0;
  font-size: 12pt;
  line-height: 1.2em; }
  section.outline > div .subject {
    font-weight: bold;
    font-size: 24pt;
    line-height: 1.5em;
    text-align: center; }
  section.outline > div.page {
    height: 297mm;
    width: 210mm;
    margin-bottom: 10mm;
    border: 1mm solid #555;
    box-shadow: 1px 1.5px 1px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 1px 1.5px 1px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1.5px 1px 1px rgba(0, 0, 0, 0.4);
    padding: 30mm 10mm 40mm; }
  section.outline .document {
    padding: 10px;
    border: 2px solid #888;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.2em; }
    section.outline .document h1, section.outline .document h2, section.outline .document h3, section.outline .document h4, section.outline .document h5, section.outline .document h6, section.outline .document h7 {
      margin: 0;
      padding: 30px 0 10px 0; }
    section.outline .document h1:first-child, section.outline .document h2:first-child, section.outline .document h3:first-child {
      padding-top: 20px; }
    section.outline .document h1 {
      padding-top: 70px;
      font-size: 40px; }
    section.outline .document h2 {
      padding-top: 40px;
      font-size: 28px; }
    section.outline .document h3 {
      font-size: 18px; }
    section.outline .document h4 {
      font-size: 14px; }
    section.outline .document p, section.outline .document div {
      margin: 0;
      padding: 3px 3px 10px 3px; }
    section.outline .document ol, section.outline .document ul {
      margin-left: 0;
      padding-left: 28px; }
      section.outline .document ol li, section.outline .document ul li {
        margin-bottom: 10px; }
    section.outline .document table thead {
      background-color: #888;
      color: #Fff;
      font-size: 85%; }
    section.outline .document table tr td, section.outline .document table tr th {
      padding: 3px;
      border-color: #555;
      border-style: solid;
      border-width: 1px 0 0 1px; }
    section.outline .document table th:last-child, section.outline .document table td:last-child {
      border-color: #555;
      border-style: solid;
      border-width: 1px 1px 0 1px; }
    section.outline .document table tr:last-child td {
      border-color: #555;
      border-style: solid;
      border-width: 1px 1px 1px 1px; }
    section.outline .document blockquote {
      padding: 5px;
      font-size: 80%;
      border: 1px solid #aaa; }
  section.outline .cover {
    text-align: center; }
    section.outline .cover .title {
      font-size: 36px;
      font-weight: bold;
      padding: 30px 0; }
    section.outline .cover .revision {
      font-size: 12px; }
  section.outline .history {
    font-size: 10pt;
    line-height: 1.0em; }
    section.outline .history table.gitlog .date, section.outline .history table.gitlog .rev {
      width: 28mm; }
  section.outline .contents {
    margin-bottom: 30px; }
    section.outline .contents > ul {
      margin-left: 30px;
      font-size: 10pt;
      line-height: 1.0em;
      list-style: none; }
      section.outline .contents > ul li.level1 {
        margin-top: 10px;
        border-bottom: 1px dashed #aaa; }
      section.outline .contents > ul li.level2 {
        font-size: 80%;
        padding-left: 50px; }
      section.outline .contents > ul li.level3 {
        font-size: 70%;
        padding-left: 80px; }
      section.outline .contents > ul li.level4 {
        font-size: 70%;
        padding-left: 100px; }

table.gitlog {
  font-size: 11px;
  line-heigth: 1.1em;
  box-sizing: border-box;
  width: 100%;
  border-color: #000; }
  table.gitlog th, table.gitlog td {
    border-color: #000; }
  table.gitlog thead tr th, table.gitlog tbody tr td {
    padding: 3px 6px; }
  table.gitlog thead tr th {
    background-color: #696969;
    color: #fff; }
  table.gitlog tbody tr td.date {
    width: 160px; }
  table.gitlog tbody tr td.author {
    width: 200px; }
  table.gitlog tbody tr td.ctrl {
    width: 80px; }
    table.gitlog tbody tr td.ctrl > ul {
      list-style: none;
      margin-left: 0; }
    table.gitlog tbody tr td.ctrl .download-link a,
    table.gitlog tbody tr td.ctrl .download-link a:hover,
    table.gitlog tbody tr td.ctrl .download-link a:link,
    table.gitlog tbody tr td.ctrl .download-link a:visited {
      font-size: 8pt;
      color: #000;
      border: 1px solid #00a;
      background-color: #aaf;
      padding: 2p;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px; }

.diff-view {
  padding: 10px; }
  .diff-view .canvas {
    padding: 5px;
    border: 1px solid #333;
    font-size: 10pt; }
    .diff-view .canvas .line .no, .diff-view .canvas .line .content {
      float: left; }
    .diff-view .canvas .line .no {
      width: 50px;
      padding: 1px 5px 1px 0;
      margin-right: 10px;
      text-align: right;
      background-color: #aaa;
      color: #eee;
      font-size: 8pt; }
    .diff-view .canvas .line:after {
      clear: both; }
    .diff-view .canvas .line:after, .diff-view .canvas .line:before {
      display: table;
      content: "";
      line-height: 0; }

.document {
  margin-bottom: 50px; }
  .document > ul.property {
    list-style: none;
    font-size: 10px;
    margin-bottom: 0;
    background-color: #333;
    color: #fff; }
    .document > ul.property li {
      padding: 3px 7px;
      border-bottom: 1px solid #888; }
      .document > ul.property li:last-child {
        border-bottom-width: 0; }
      .document > ul.property li > div {
        float: left; }
      .document > ul.property li:after {
        clear: both; }
      .document > ul.property li:after, .document > ul.property li:before {
        display: table;
        content: "";
        line-height: 0; }
      .document > ul.property li .subject {
        width: 100px; }
      .document > ul.property li.status {
        font-size: 17px;
        padding: 5px 7px; }
  .document > .canvas {
    padding: 10px;
    border: 2px solid #888;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.2em; }
    .document > .canvas h1, .document > .canvas h2, .document > .canvas h3, .document > .canvas h4, .document > .canvas h5, .document > .canvas h6, .document > .canvas h7 {
      margin: 0;
      padding: 30px 0 10px 0; }
    .document > .canvas h1:first-child, .document > .canvas h2:first-child, .document > .canvas h3:first-child {
      padding-top: 20px; }
    .document > .canvas h1 {
      padding-top: 70px;
      font-size: 40px; }
    .document > .canvas h2 {
      padding-top: 40px;
      font-size: 28px; }
    .document > .canvas h3 {
      font-size: 18px; }
    .document > .canvas h4 {
      font-size: 14px; }
    .document > .canvas p, .document > .canvas div {
      margin: 0;
      padding: 3px 3px 10px 3px; }
    .document > .canvas ol, .document > .canvas ul {
      margin-left: 0;
      padding-left: 28px; }
      .document > .canvas ol li, .document > .canvas ul li {
        margin-bottom: 10px; }
    .document > .canvas table thead {
      background-color: #888;
      color: #Fff;
      font-size: 85%; }
    .document > .canvas table tr td, .document > .canvas table tr th {
      padding: 3px;
      border-color: #555;
      border-style: solid;
      border-width: 1px 0 0 1px; }
    .document > .canvas table th:last-child, .document > .canvas table td:last-child {
      border-color: #555;
      border-style: solid;
      border-width: 1px 1px 0 1px; }
    .document > .canvas table tr:last-child td {
      border-color: #555;
      border-style: solid;
      border-width: 1px 1px 1px 1px; }
    .document > .canvas blockquote {
      padding: 5px;
      font-size: 80%;
      border: 1px solid #aaa; }

.md_buffer form.md-buffer-fix {
  margin-bottom: 10px; }
.md_buffer form.md-editor .canvas {
  margin-bottom: 10px; }
  .md_buffer form.md-editor .canvas textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #800000;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0; }
.md_buffer .edit-menu .md-buffer-fix {
  float: left;
  margin-bottom: 0; }
.md_buffer .edit-menu ul {
  float: right;
  list-style: none;
  margin-top: 10px; }
  .md_buffer .edit-menu ul li {
    float: left;
    border: 1px solid #aaa;
    border-bottom: none;
    font-size: 12px; }
    .md_buffer .edit-menu ul li a,
    .md_buffer .edit-menu ul li a:hover,
    .md_buffer .edit-menu ul li a:link,
    .md_buffer .edit-menu ul li a.visited {
      display: block;
      padding: 3px 10px;
      color: #333;
      text-decoration: none; }
    .md_buffer .edit-menu ul li a:hover {
      background-color: #b0c4de; }
  .md_buffer .edit-menu ul:after {
    clear: both; }
  .md_buffer .edit-menu ul:after, .md_buffer .edit-menu ul:before {
    display: table;
    content: "";
    line-height: 0; }
.md_buffer .edit-menu:after {
  clear: both; }
.md_buffer .edit-menu:after, .md_buffer .edit-menu:before {
  display: table;
  content: "";
  line-height: 0; }
.md_buffer ul.md_menu {
  list-style: none;
  margin-bottom: 0; }
  .md_buffer ul.md_menu li {
    float: left;
    width: 120px;
    text-align: center;
    border: 1px solid #333;
    border-bottom: none;
    background-color: #dfdfdf;
    font-size: 12px;
    padding: 2px; }
    .md_buffer ul.md_menu li:first-child {
      border-right: none; }
    .md_buffer ul.md_menu li.active {
      background-color: #fff; }
    .md_buffer ul.md_menu li a,
    .md_buffer ul.md_menu li a:hover,
    .md_buffer ul.md_menu li a:link,
    .md_buffer ul.md_menu li a.visited {
      display: block;
      width: 100%;
      color: #333;
      font-weight: bold;
      text-decoration: none; }
    .md_buffer ul.md_menu li a:hover {
      background-color: #b0c4de; }
  .md_buffer ul.md_menu:after {
    clear: both; }
  .md_buffer ul.md_menu:after, .md_buffer ul.md_menu:before {
    display: table;
    content: "";
    line-height: 0; }
.md_buffer .document {
  background-color: #fff;
  border: 2px solid #888;
  padding: 10px;
  padding: 10px;
  border: 2px solid #888;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.2em; }
  .md_buffer .document > * {
    border: 3px solid #fff; }
  .md_buffer .document > .focus {
    background-color: #b0c4de;
    border: 3px solid #9fb3cd;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; }
  .md_buffer .document .editform textarea.editdata {
    width: 100%;
    box-sizing: boder-box;
    margin-bottom: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px; }
  .md_buffer .document .editform button {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; }
  .md_buffer .document h1, .md_buffer .document h2, .md_buffer .document h3, .md_buffer .document h4, .md_buffer .document h5, .md_buffer .document h6, .md_buffer .document h7 {
    margin: 0;
    padding: 30px 0 10px 0; }
  .md_buffer .document h1:first-child, .md_buffer .document h2:first-child, .md_buffer .document h3:first-child {
    padding-top: 20px; }
  .md_buffer .document h1 {
    padding-top: 70px;
    font-size: 40px; }
  .md_buffer .document h2 {
    padding-top: 40px;
    font-size: 28px; }
  .md_buffer .document h3 {
    font-size: 18px; }
  .md_buffer .document h4 {
    font-size: 14px; }
  .md_buffer .document p, .md_buffer .document div {
    margin: 0;
    padding: 3px 3px 10px 3px; }
  .md_buffer .document ol, .md_buffer .document ul {
    margin-left: 0;
    padding-left: 28px; }
    .md_buffer .document ol li, .md_buffer .document ul li {
      margin-bottom: 10px; }
  .md_buffer .document table thead {
    background-color: #888;
    color: #Fff;
    font-size: 85%; }
  .md_buffer .document table tr td, .md_buffer .document table tr th {
    padding: 3px;
    border-color: #555;
    border-style: solid;
    border-width: 1px 0 0 1px; }
  .md_buffer .document table th:last-child, .md_buffer .document table td:last-child {
    border-color: #555;
    border-style: solid;
    border-width: 1px 1px 0 1px; }
  .md_buffer .document table tr:last-child td {
    border-color: #555;
    border-style: solid;
    border-width: 1px 1px 1px 1px; }
  .md_buffer .document blockquote {
    padding: 5px;
    font-size: 80%;
    border: 1px solid #aaa; }
.md_buffer .image_manager {
  background-color: #fff;
  border: 2px solid #888;
  padding: 10px; }
