$corner_b: 5px;
@mixin round-corner ($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}
@mixin clearfix() {
  &:after,&:before{
    display: table;
    content: "";
    line-height: 0;
  }
  &:after{
    clear: both;
  }
}

@mixin table-gitlog {
  font-size: 11px;
  line-heigth: 1.1em;
  box-sizing: border-box;
  width: 100%;

  border-color: #000;
  th, td{
    border-color: #000;
  }
  
  thead tr th, tbody tr td {
      padding: 3px 6px;
  }
  thead tr th {
      background-color: #696969;
      color: #fff;
  }
  tbody{
    tr{
      td{
          div.Message{
          }
          &.Date {
              width: 160px;
          }
          &.Author {
              width: 200px;
          }
          &.Ctrl{
            width: 80px;

	    >ul{
		list-style: none;
		margin-left: 0;
	    }
          }
      }
    }
  }
}

@mixin markdown-set{
    padding: 10px;
    border: 2px solid #888;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.2em;

    h1,h2,h3,h4,h5,h6,h7{
        margin: 0;
        padding: 30px 0 10px 0;
    }
    h1:first-child,h2:first-child,h3:first-child{ padding-top: 20px;}
    h1{ padding-top: 70px; font-size: 40px; }
    h2{ padding-top: 40px; font-size: 28px; }
    h3{ font-size: 18px; }
    h4{ font-size: 14px; }
    p,div{
        margin: 0;
        padding: 3px 3px 10px 3px;
    }
    ol,ul{
      margin-left: 0;
      padding-left: 28px;
      li{
        margin-bottom: 10px;
      }
    }
    table{
        thead{
            background-color: #888;
            color: #Fff;
            font-size: 85%;
        }
        tr{
            td,th{
                padding: 3px;
                border-color: #555;
                border-style: solid;
                border-width: 1px 0 0 1px;
            }
        }
        th:last-child,td:last-child{
            border-color: #555;
            border-style: solid;
            border-width: 1px 1px 0 1px;
        }

        tr:last-child td{
            border-color: #555;
            border-style: solid;
            border-width: 1px 1px 1px 1px;
        }
    }
    blockquote{
        padding: 5px;
        font-size:  80%;
        border: 1px solid #aaa;
    }
    code{
        display: table;
    box-sizing: border-box;
        width: 100%;
        white-space: pre;
        padding: 5px 20px;
        background-color: #000;
        color: #fff;
        font-weight: normal;
        font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
        font-size: 10pt;
        line-height: 1.2em;
    }
}

@mixin bufferEditMenu {
    ul.BufferEditMenu{
        position: absolute;
        list-style:none;
        margin-right: 0;
        width: 140px;
        >li{
            a{
                cursor:pointer;
                font-size: 7pt;
                font-weight: bold;
                color: #000;
                padding-right: 30px;
                padding-top: 5px;
                margin-bottom: 3px;
                width: 80px;
                &:hover{
                    color: #000;
                    background-color: #f5deb3;
                }
            }
            &.Selected{
                padding-left: 15px;
                a{
                    &:hover, &:link, &:visited{
                        cursor: default;
                        background-color: transparent;
                    }
                    &:before{
                        float: left;
                        border : 8px solid transparent;
                        border-left : 10px solid #000;
                    }
                }
            }

        }
    }
}

@mixin button_face {
  @include round-corner(4px);
  border: 1px solid #555;
  padding: 4px 6px;
  text-align: center;
  font-size: 85%;
  font-weight: bold;
  color: #000;
  background-color: #fff;
}

/*
 * MARK
 */
i.Mark{
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    padding: 2px 3px;

    &.Round{
      @include round-corner(8px);
    }

    &.Orange{
        background-color: #ff7f50;
        color: #fff;
    }
    &.Green{
        background-color: #006400;
        color: #fff;
    }
    &.Blue{
        background-color: #0000cd;
        color: #fff;
    }
    &.Black{
        background-color: #000;
        color: #fff;
    }
}

/*
 * GLYPH-ICON
 */

i.Glyph{
    width: 26px;
    height: 26px;
    display:inline-block;
    background-color: transparent;
    background-repeat: no-repeat;
}
.Glyph.DownloadAlt{
    background-image: url("../img/181_download_alt.png");
}
.Glyph.Bin{
    background-image: url("../img/016_bin.png");
}
.Glyph.InboxPlus{
    background-image: url("../img/131_inbox_plus.png");
}
.Glyph.Ok{
    background-image: url("../img/198_ok.png");
}
.Glyph.Ban{
    background-image: url("../img/199_ban.png");
}
.Glyph.Plus{
    background-position: 3px 3px;
    background-image: url("../img/432_plus.png");
}
.Glyph.Commit{
    background-image: url("../img/141_database_plus.png");
    width: 27px;
    height: 27px;
}
.Glyph.Edit{
    background-image: url("../img/151_edit.png");
}
.Glyph.Source{
    background-image: url("../img/036_file.png");
}
.Glyph.Image{
    background-image: url("../img/159_picture.png");
}
.Glyph.Outline{
    background-image: url("../img/156_show_lines.png");
}
.Glyph.Upload{
    background-image: url("../img/201_upload.png");
}
.Glyph.Cogwheel{
    background-image: url("../img/019_cogwheel.png");
}
.Glyph.Logbook{
    background-image: url("../img/087_log_book.png");
}
.Glyph.Book{
    background-image: url("../img/071_book.png");
}
.Glyph.File{
    background-image: url("../img/036_file.png");
}
.Glyph.CircleRemove{
    background-image: url("../img/192_circle_remove.png");
}
a.Glyph {
  display: inline-block;
  float: left;
  @include clearfix();
}
a.Glyph, input[type=submit].Glyph{
  padding: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  height: 26px;
  padding-left: 28px;

  &:hover{
    background-color: transparent;
  }
}

a.Button{
  display: inline-block;
  border: 1px solid #000;
  padding: 5px 8px;
  vertical-align: middle;
  @include round-corner($corner_b);
  
  i{
    margin-bottom: -5px;
    margin-right: 3px;
  }
  &.Orange{
    background-color: #ff4500;
    border: 1px solid #ff7f50;
  }
}

form{
  input[type=submit], input[type=button], button{
    padding: 4px 6px;
    text-align: center;
    line-height: 1.0em;
    font-size: 85%;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #aaa;
    color: #555;

    @include round-corner(5px);
  }
  input[type=submit]:hover, input[type=button]:hover,button:hover{
    background-color: #f5deb3;
    color: #222;
  }
  input[type=text], input[type=password], textarea {
    font-size: 85%;
    @include round-corner(5px);
  }
}

Button{
  @include button_face();
}

a.Btn{
  @include button_face();
  display: table;
  float: left;
  
  &:hover{
    background-color: #f5deb3;
    color: #222;
  }

  @include clearfix();
}

.AppHeader{
  border-bottom: 3px double #4169e1;
  margin-top: 10px;

  .Row > div {
    float: left;

    &.LoginForm{
      float: right;
    }
  }
  .Row{
    @include clearfix();
  }

  .Title{
    font-size: 48pt;
    a,
    a:hover,
    a:visited,
    a:link,
    a:active{
      color: #000;
      font-style: none;
    }
  }

  .LoginForm{
    text-align: right;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 10pt;

    form input{
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
    }
    form span{
      margin-right: 15px;
    }
  }
}


h1,h2,h3,h4,h5{
  margin-left: 10px;
}

body > section{
  >h1,>h2,>h3,>h4,>h5,>h6,>p,>div,>table,>ul,>ou,>form {
    margin-left: 30px;
    margin-right: 30px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
  }
}

section.Message{
  margin-bottom: 20px;
  font-size: 10pt;

  .IsExistBuffer{
    float: right;
  }

  >ul{
    list-style: none;
    margin-left: 30px;
    margin-bottom: 5px;
    background-color: #fff;
    font-weight: bold;
    @include round-corner(5px);

    &.Info{
        color: #333;
        font-weight: normal;
        border: 1px solid #ccc;

        .Ctrl{
            float: right;
            a:hover{
                cursor: pointer;
            }
        }
        @include clearfix();
    }
    &.Error{
        color: #f00;
        border: 1px solid #f00;
    }
    &.Buffered{
        border: 1px solid #4169e1;
        &.Disable{
            display: none;
        }
    }
    li{
      padding: 2px 5px;

      form.ResetBuffer {
          display: inline-block;
          float: right;
          margin: 3px;
      }
      @include clearfix();
    }
  }
}

section.Admin{
  h1{
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 2.0em;
  }

  ul.UserManage{
    list-style:none;
    
  }
}

section.Error{
  div.Error{
    border: 3px solid #b22222;
    background-color: #ffd0db;
    padding: 10px;
    @include round-corner($corner_b);
  }
}

.UserInfo{
  background-color: #4169e1;
  color: #fff;
  font-size: 9pt;
  padding: 3px 0;

  ul {
    list-style: none;
    li {
      float: left;
      margin-right: 30px;
    }
    @include clearfix();
  }
  .Account, .Admin{
    a,
    a:hover,
    a:visited,
    a:link,
    a:active{
      color: #fff;
    }
    a:hover{
      text-decoration: underline;
    }
  }
}

ul.BackNav{
  list-style: none;
  font-size: 11px;
  height: 20px;
  margin: 0 0 0 30px;

  li{
    float: left;
    margin-right: 10px;
    a:before {
      content: "<<    ";
    }
  }
  @include clearfix();
}


.Description{

  .Revision{
    font-weight: bold;
    margin-left: 3px;
    margin-right: 3px;
  }
  .DownloadLink{
    display: block;  
  }
  .MdfileToolbar{
    display: block;
  }
}

.NoFile{
  margin: 10px;
  color: #888;
}

form#docxCreate{
  margin: 10px;
  margin-bottom: 30px;
  padding: 10px;
  border: 3px solid #778899;
  background-color: #e6e6fa;
  @include round-corner($corner_b);

  > div{
    margin-bottom: 10px;
  }
  .Subject{
    font-weight: bold;
    font-size: 115%;
  }
}

section.Gitlog, section.DocApprove{
  margin-bottom: 30px;

  h3{
      margin-top: 0;
      margin-bottom: 10px;
  }

  .Logtable .Description{
    font-size: 80%;
    padding: 5px;
    border: 1px solid #000;
    background-color: #fff;
    &.Alert{
      color: #f00;
    }
  }

  ul.BufferList {
      list-style: none;
      font-size: 11px;
      li{
	  float: left;
	  border-style: solid;
	  border-width: 1px 1px 0 0;
	  border-color: #555;
	  &:first-child{
	      border-left: 1px solid #555;
	  }
	  &.Active{
	      font-weight: bold;
	      a {
		  background-color: #fff;
	      }
	  }
	  a{
	      display: block;
	      background-color: #dedede;
	      padding: 3px 6px;
	      text-align: center;
	      color: #000;
	      &:hover{
		  color: #000;
		  background-color: #b0c4de;
	      }
	  }
      }
      @include clearfix();
  }

  table.Gitlog{
      @include table-gitlog();

      tbody{
	  tr{
	      &.Master{
		  background-color: #fff;
	      }
	      &.UserBranch{
		  background-color: #fffaf0;
	      }
	      &.UserBranch.Old{
		  background-color: #aaaaaa;
	      }
	  }
      }
  }
}


section.Top{
  .TopMenu{
    margin-top: 20px;
    margin-bottom: 20px;;

    .Subject {
      margin-bottom: 20px;
      .Title{
        font-weight: bold;
        font-size: 2.0em;
      }
      &.Disable{
        color: #888;
      }
      +.Caution {
        font-size: 60%;
        margin-left: 10px;
        color: #f00;
      }

      .Menu{
        float: right;
      }

    }
    table.DocList{
        box-sizing: border-box;

        tr{
            &.Nonactive {
                background-color: #ddd;
                &.Deleted {
                    background-color: #aaa;
                }
            }
            td{
                >.DocSubject {
                  float:left;
                  padding: 5px;
                  > div {
                      float: left;
                      &.Name {
                          a {
                              color: #4169e0 - #404040;
                              font-weight: bold;
                              &:hover{
                                  color: #ff6437;
                              }
                          }
                      }
                      @include clearfix();
                  }
                }
                >.DocCtrl{
                    float: right;
                    padding: 5px;
                    input.Glyph{
                        margin-left: 5px;
                    }
                    form{
                        display: inline;
                    }
                }
                .DocDetail{
                    clear: both;
                    font-size: 8pt;
                    border-top: 1px dashed rgba(0,0,0,0.1);
                    div{
                        float: left;
                        margin-left: 20px;
                        &:first-child{
                            margin-left: 5px;
                        }
                    }
                    @include clearfix();
                }
            }
        }
    }
  } // .top-menu
}

section.Docinfo{
  h1, h2{
    margin-top: 0;
  }
  h1{
    font-size: 2.0em;
    margin-bottom: 5px;
    .Title{
      font-weight: normal;
      margin-right: 10px;
    }
  }
  h2{
    .DownloadAlt{
      margin-right: 10px;
    }
    .Supplement{
        color: #000;
        font-size: 12px;
        margin-left: 10px;
    }
  }
  @include clearfix();

  >.Description{
    font-size: 11px;
    margin-bottom: 5px;
    color: #555;
    >div{
      float: left;
      margin-right: 10px;
      a.Active, a.Active:hover{
          font-weight: bold;
          text-decoration: underline;
          color: #000;
          cursor: default;
      }
    }
    @include clearfix();
  }

  >ul.DocCtrl{
    list-style: none;
    margin-bottom: 20px;
    li{
      float : left;
      margin-right: 5px;
      &:fist-child{
       margin-right: 0;
      }
      &.Selected{
        a.Btn{
            background-color: #f5deb3 - #888;
            color: #fff;
            cursor: default;
            font-weight: normal;
        }
      }
    }
    @include clearfix();
  }

  .UserAction{
    margin-bottom: 20px;
    h3{
        font-size: 15px;
        margin: 0 0 3px;
        padding: 6px 3px 3px;
        background-color: #fff;
        border-bottom: 3px solid #888;
    }
    h3+.Description{
        font-size: 10px;
    }
    ul.Menu{
        list-style: none;
        margin-bottom: 20px;
        li{
            float: left;
            margin-right: 20px;
            form.DocUploadForm{
                margin: 0;
                padding: 0;
		font-size: 14px;
		border: 1px solid #000;
		padding: 4px 6px;
		@include round-corner(5px);
		background-color: #fff;

                >div {
		    margin-bottom: 4px;
		    &.Subject{
			font-weight: bold;
		    }
                    label{
			font-size: 9px;
                    }
                }
            }
        }
        @include clearfix();
    }
  }
  .OutputMenu{
     margin-bottom: 20px;
      button{
          padding: 4px 6px;
          text-align: center;
          line-height: 1.0em;
          font-size: 85%;
          font-weight: bold;
          background-color: #fff;
          border: 1px solid #aaa;
          color: #555;

          @include round-corner(5px);
      }
      button:hover{
          background-color: #f5deb3;
          color: #222;
      }  
  }
}

section.DocSetting{
  margin-bottom: 50px;

  h2{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
  }

  h3{
    margin-top: 30px;
    font-size: 16px;
    padding-left: 10px;
    border-left: 15px solid #4169e1;
  }

  .PublicMark{
    input[type=checkbox] {
      margin-left: 10px;
    }
  }

  .UsersCtrl{
    @include clearfix();
    .AllowUsersList{
      float: left;
      width: 450px;

	.subject{
	    font-size: 12px;
	    margin-bottom: 5px;
	}

	table.UsersTable{
	    margin-bottom: 5px;
	    th{
		background-color: #808080;
		color: #fff;
		font-size: 80%;
		font-weight: normal;
		&.Text{
		    padding-left: 10px;
		}
		&.CheckBox{
		    width: 45px;
		    text-align: center;
		}
	    }
	    td{
		&.Select, &.Approve, &.Edit, &.Delete{
		    text-align: center;
		}
		&.Name {
		    padding-left: 10px;
		}
	    }
	}
    }
    .CtrlButtons{
      float: left;
      margin: 20px 20px 0;
      list-style: none;
      li{
        margin-bottom: 5px;
      }
    }
    .UnallowUsersList{
	float: left;
	.subject{
	    font-size: 12px;
	    margin-bottom: 5px;
	}
	select{
	    padding: 5px;
	    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	    font-size: 10pt;
	}
    }
  }
}

section.Outline.PrintFormat{
    padding: 0;
    >div.Page{
	margin: 0;
        margin-bottom: -1px;
	border: none;
        border-bottom: 1px solid #aaa;
	box-shadown: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
    }
}

section.Outline{
    background-color: #fff;
    padding: 30px 0;

    font-size: 12pt;
    line-height: 1.2em;

    >div .Subject{
	    font-weight: bold;
	    font-size: 24pt;
        line-height: 1.5em;
	    text-align: center;      
    }

    >div.Page{
      height: 297mm;
      width: 210mm;
      margin-bottom: 10mm;
      border: 1mm solid #555;
      box-shadow: 1px 1.5px 1px 1px rgba(0,0,0,0.4);
      -webkit-box-shadow: 1px 1.5px 1px 1px rgba(0,0,0,0.4);
      -moz-box-shadow: 1px 1.5px 1px 1px rgba(0,0,0,0.4);

      padding: 30mm 10mm 40mm;
    }

    .Document{
        @include markdown-set();
	position: relative;

	.PageFooter{
	    position: absolute;
            top: 280mm;
	    width: 190mm;
            box-sizing: border-box;

	    .PageNum{
		text-align: center;
	    }
	}
    }
    .Cover{
	    text-align: center;
	    .Title{
	        font-size: 36px;
	        font-weight: bold;
	        padding: 30px 0;
	    }
	    .Revision{
	        font-size: 12px;
	    }
    }
    .History{
        font-size: 10pt;
        line-height: 1.0em;
	    table.Gitlog{
              .Date,.Rev{
                width: 28mm;
              }
	    }
    }
    .Contents{
        margin-bottom: 30px;
        >ul.List{
            margin-left: 30px;
            font-size: 10pt;
            line-height: 1.0em;
            list-style: none;

            li{
                &.Level1{
                    margin-top: 10px;
                    border-bottom: 1px dashed #aaa;
                }
                &.Level2{
                    font-size: 80%;
                    padding-left: 50px;
                }
                &.Level3{
                    font-size: 70%;
                    padding-left: 80px;
                }
                &.Level4{
                    font-size: 70%;
                    padding-left: 100px;
                }
                .PageNum{
display: inline-block;
                    float: right;
                }
                @include clearfix();
            }
        }
    }  
}

section.OutlineEditor{
    @include bufferEditMenu();

    .BufferEdit {
      margin-left: 180px;
    }

    .Document{
        background-color: #fff;
        border: 2px solid #888;
        padding: 10px;
        margin-bottom: 30px;

        #blkTmpl, #divideInfo{
            display: none;
        }

        .OutlineDivide{
            border: 2px solid #00f;
        }

        .Blk{
            a.BtnExpand{
                cursor: pointer;
            }

            .Tagname {
                border: 2px solid #ff4500;
                background-color: #f5deb3;
                @include round-corner(3px);
                font-size: 9pt;
                font-weight: bold;
                padding: 2px 5px;
            }

            .Digest{
                font-size: 80%;
                margin: 0 5px;
                &:before{
                    content: "\"";
                }
                &:after{
                    content: "... \"";
                }  
            }

            .InsertDivide{
                font-size: 65%;
                font-weight: bold;
                @include round-corner(3px);
            }

            +.Md{
                padding: 10px;
                border: 2px dashed #aaa;
                margin-top:0;                
                @include round-corner(5px);
            }
            +ul.Md,+ol.Md{
                padding-left: 30px;
            }

            @include clearfix();
        }
    }
}

table.Gitlog {
  @include table-gitlog();

  .RevisionCtrl{
    a.RevisionViewer, a.RevisionViewer:hover,
    a.DiffViewer, a.DiffViewer:hover,
    a.Rollback, a.Rollback:hover{
      cursor: pointer;
    }
  }

  .Ctrl .CtrlTemp{
    display: none;
  }
}


section.MdBuffer{
    @include bufferEditMenu();

    .BufferEdit{
        margin-left: 180px;

        form .Canvas {
            margin-bottom: 10px;
            textarea{
                width: 100%;
                box-sizing: border-box;
                padding: 10px;
                border: 2px solid #800000;
                border-radius: 0;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
            }
        }

        ul.Pagenav{
            list-style: none;
            li{
                float: left;
                margin-right: 5px;
                padding: 5px;
                border: 1px solid #aaa;

                a.OutlinePage{
                    cursor: pointer;
                    &.Active{
                        font-weight: bold;
                        text-decoration: underline;
                        color: #000;
                    }
                }
            }
            @include clearfix();
        }

        .Document{
            background-color: #fff;
            border: 2px solid #888;
            padding: 10px;
            margin-bottom: 30px;

            >*{
                border: 3px solid #fff;;
            }

            >.Focus{
                background-color: #b0c4de;
                border: 3px solid #b0c4de-#111;;
                cursor: pointer;
                @include round-corner(3px);
            }

            >.Md{
                display: none;
            }
            >.Uneditable{
                background-color: #ecc;
                color: #888;
            }
>.Blank{
height: 10px;
}

            .Editform{
                textarea.Editdata{
                    width: 100%;
                    box-sizing: boder-box;
                    margin-bottom: 5px;
                    @include round-corner(5px);
                }
                button{
                    @include round-corner(3px);
                }
		ul.ImageList{
		    border: 1px dashed #b0c4de;
		    @include round-corner(10px);
		    margin: 5px 0 20px;
		    padding: 10px;
		    background-color: #e6e6fa;

		    list-style: none;
		    >li{
			float: left;
			margin: 5px;
		    }
		    @include clearfix();
		}
            }
            @include markdown-set;
        }
    }

    .BufferEdit.Source{
        .Ctrl{
            margin-bottom: 10px;
            input[type=submit]{
                @include round-corner(5px);
                background-color: #fff;
            }
        }
    }

    .UploadForm {
        margin-left: 180px;
        h3{
          margin-top: 0;
          margin-left: 0;
        }
    }

    .MdBufferFix{
        margin-bottom: 0;
    }

    .ImageManager{
        background-color: #fff;
        border: 2px solid #888;
        padding: 10px;

	form.ImageAction{
	    margin: 30px 0;
            ul.Thumbnail{
		list-style: none;

		margin: 10px 0;

		li{
		    float: left;
		    .Info{
			font-size: 9pt;
		    }
		}
		@include clearfix();
            }
	}
    }
}

section.BufferLog{
    @include bufferEditMenu();

    .GitLog{
        margin-left: 180px;

	.Description{
	    font-size: 80%;
	    padding: 5px;
	    border: 1px solid #000;
	    background-color: #fff;
	    &.Alert{
		color: #f00;
	    }
	}

    } 
}

.RevisionViewerDialog, .DiffViewerDialog{
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px 40px;
  margin: 0;
  background-color: rgba(188,188,188,0.4);
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .Document{
    background-color: #fff;
    border: 1px solid #888;
    @include round-corner(10px);

    padding: 15px;
    margin-bottom: 30px;

    .Name{
      font-size: 20px;
      font-weight: bold;
    }

    .Info{
      font-size: 10px;
      >div{
        float: left;
        margin-right: 10px;
      }
      @include clearfix();
    }

    .Caution{
      font-size: 10px;
      font-weight: bold;
      color: #f33;
    }

    .Body{
      overflow: scroll;
      height: 450px;
      @include markdown-set();
    }
  }
}

.DiffViewerDialog{
  .Document .Body{
    padding: 5px;
    border: 1px solid #333;
    font-size: 10pt;
    div.Line{
        margin: 0;
        padding: 0;
        .No, .Content{
          float: left;
        }
        .No {
          width: 50px;
          padding: 1px 5px 1px 0;
          margin-right: 10px;
          text-align: right;
          background-color: #aaa;
          color: #eee;
          font-size: 8pt;
        }
        .Content{
          padding: 1px;
          margin: 0;
        }
        @include clearfix();
    }
  }
}

.BufferCommitForm{
  position: fixed;
  top: 0;
  padding: 50px 40px;
  margin: 0;
  background-color: rgba(188,188,188,0.4);
  width: 100%;
  height: 100%;


  .MdBufferFix{
    color: #000;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #000;
    width: 50%;
    @include round-corner(10px);

    h3{
        margin-top: 0;
    }
    textarea.History{
        width: 100%;
        height: 100px;
        margin-bottom: 5px;
    }
    .Ctrl{
        input[type=submit], a.Btn, a.Btn:link{
            float: left;
            margin-right: 5px;
            cursor: pointer;
            padding: 4px 6px;
            text-align: center;
            line-height: 1.0em;
            font-size: 85%;
            font-weight: bold;
            background-color: #fff;
            border: 1px solid #aaa;
            color: #555;

            @include round-corner(3px);
        }
        input[type=submit]:hover, a.Btn:hover{
            background-color: #f5deb3;
            color: #222;
        }
        @include clearfix();
    }
  }
}
