[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]
[% INCLUDE error.tmpl %]
<div>[% debug %]</div>
<h2>管理画面</h2>
<div class="description">
docxlogの管理を行います。アクセスには管理者権限が必要です
</div>

[% IF login %]
[% END %]


</body>
</html>


