<section class="AppHeader">
  <div class="Row">
    <div class="Title"><a href="index.cgi">mdDog</a></div>
    <div class="LoginForm">
      <form method="post">
        [% IF login %]
        <ul class="AccountInfo">
          <li class="User Account"><span class="Subject">ACCOUNT</span><a href="profile.cgi">[% userinfo.nic_name %]</a></li>
          [% IF userinfo.is_admin %]
          <li class="User Admin"><a href="admin.cgi">(管理者 <span class="typcn typcn-spanner"></span>)</a></li>
          [% END %]
          <li class="Ctrl"><input type="submit" name="logout" value="LOGOUT"></li>
        </ul>
        [% ELSE %]
        <ul class="AccountInfo">
          <li class="User Account"><span class="Subject">ACCOUNT&ensp;<input type="text" name="account" size="12" maxlength="20"></span></li>
          <li class="User Password"><span class="Subject">PASSWORD&ensp;<input type="password" name="password" size="12" maxlength="20"></span></li>
          <li><input type="submit" name="login" value="LOGIN"></li>
        </ul>
        [% END %]
        [% INCLUDE posted_data.tmpl %]
      </form>
    </div>
  </div><!-- row -->
</section>
