<ul class="buffer_edit_menu">
  <li [% IF SUBMENU=="編集バッファ" %]class="selected"[% END %]><a class="glyph edit" href="md_edit.cgi?fid=[% fid %]">EDIT</a></li>
  <li [% IF SUBMENU=="画像" %]class="selected"[% END %]><a class="glyph image" href="md_image.cgi?fid=[% fid %]">IMAGE</a></li>
  <li [% IF SUBMENU=="アウトライン" %]class="selected"[% END %]><a class="glyph outline" href="md_outline.cgi?fid=[% fid %]">OUTLINE</a></li>
  <li [% IF SUBMENU=="ソース" %]class="selected"[% END %]><a class="glyph source" href="md_source.cgi?fid=[% fid %]">SOURCE</a></li>
  <li><a class="glyph commit">COMMIT</a></li>
</ul>


<div class="commitForm" style="display: none;">
    <form name="commitForm" action="?fid=[% fid %]" method="post">
      <div class="md_buffer_fix">
        コメント：<textarea name="comment" rows="3" cols="70"></textarea>
        <input type="submit" name="commit" value="バッファをコミット" onClick="commitBuffer();">
        <input type="hidden" name="fid" value="[% fid %]">
        <textarea name="document" class="document" style="display: none;"></textarea>
        <div class="rowdata" style="display: none;">[% rowdata %]</div>
      </div>
    </form>
</div>
