<ul class="BufferEditMenu">
  <li [% IF SUBMENU=="編集バッファ" %]class="Selected"[% END %]><a href="edit_buffer.cgi?fid=[% fid %]"><span class="typcn typcn-edit"></span>edit</a></li>
  <li [% IF SUBMENU=="画像" %]class="Selected"[% END %]><a href="edit_image.cgi?fid=[% fid %]"><span class="typcn typcn-image"></span>image</a></li>
  <li [% IF SUBMENU=="ソース" %]class="Selected"[% END %]><a href="edit_source.cgi?fid=[% fid %]"><span class="typcn typcn-document-text"></span>source</a></li>
  <li [% IF SUBMENU=="アップロード" %]class="Selected"[% END %]><a href="edit_upload.cgi?fid=[% fid %]"><span class="typcn typcn-upload-outline"></span>upload</a></li>
  <li [% IF SUBMENU=="編集履歴" %]class="Selected"[% END %]><a href="edit_log.cgi?fid=[% fid %]"><span class="typcn typcn-book"></span>log</a></li>
  <li><a id="bufferCommitBtn"><span class="typcn typcn-database"></span>commit</a></li>

  [%IF SUBMENU=="編集バッファ" %]
    <li><a id="headlineBtn"><span class="typcn typcn-th-menu"></span>headline</a></li>
    <li><a class="">DIFF VIEW</a></li>
  [%END %]
</ul>

<section class="Template">
<div class="BufferCommitForm" id="bufferCommitForm" style="display: none;">
    <form name="commitForm" action="?fid=[% fid %]" method="post">
      <div class="MdBufferFix">
        <h3>変更履歴</h3>
        <div><textarea name="comment" class="History" rows="3" cols="70"></textarea></div>
        <div class="Ctrl">
          <input type="submit" name="commit" value="コミット" onClick="commitBuffer();">
          <a class="Btn" id="cancelButton">キャンセル</a>
        </div>
        <input type="hidden" name="fid" value="[% fid %]">
      </div>
    </form>
</div>

<div class="Headline" id="headline">
    <div class="Subject">[HEADLINE]<button class="CloseBtn"><img src="img/197_remove.png"></button></div>
    <ul class="headlist">
    </ul>
</div>

</section>
