[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]
[% INCLUDE userinfo.tmpl %]
<div>[% debug %]</div>

<form action="" method="post" id="docx-create" class="">
  <div class="subject">MDドキュメントの追加</div>
  <div>ドキュメント名：<input type="text" size="20" name="docname"></div>
  <div><input type="submit" name="create" value="新規作成"></div>
</form>

</body>
</html>
