[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]
<div>[% debug %]</div>

<section class="CreateDoc">
  <form action="" method="post" id="docx-create" class="">
    <h2>new document</h2>
    <div>ドキュメント名：<input type="text" size="20" name="doc_name"></div>
    <div>ファイル名：<input type="text" size="20" name="file_name"></div>
    <div><input type="submit" name="create" value="新規作成"></div>
  </form>
</section>

</body>
</html>
