[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]
[% INCLUDE userinfo.tmpl %]

<ul class="BackNav">
<li><a href="index.cgi">BACK</a></li>
</ul>

<section class="Docinfo">
[%SET SUBMENU = "承認" %]
[%INCLUDE docinfo_header.tmpl %]
</section><!-- docinfo -->

<section class="DocApprove">
[% IF approve_pre %]
<table class="Gitlog">
  <thead>
    <tr>
      <th class="Date">更新年月日</th>
      <th class="Message">詳細</th>
      <th class="Author">更新者</th>
    </tr>
  </thead>
  <tbody>
    [% FOREACH log IN loglist %]
    <tr class="[% IF log.local %]UserBranch[% ELSE %]Master[% END %]">
      <td class="Date">[% log.attr.date %]</td>
      <td class="Message">[% log.message %]</td>
      <td class="Author">[% log.attr.author %]</td>
    </tr>
    [% END %]
  </tbody>
</table>
</div>
<form class="ApproveForm" action="?fid=[% fid %]&user=[% user %]&revision=[% revision %]" method="post">
  <div class="">上記のコミットを承認します</div>
  <input type="submit" name="approve" value="OK">
  <a href="docapprove.cgi?fid=[% fid %]">キャンセル</a>
  <input type="hidden" name="fid" value="[% fid %]">
  <input type="hidden" name="revision" value="[% revision %]">
  <input type="hidden" name="user" value="[% user %]">
</form>
[% ELSE %]<!-- approve_pre -->
  <h3 class="Subject">更新履歴</h3>

  <ul id="bufferList" class="BufferList">
    [%FOREACH user IN userlist %]
    <li id="buffer[% user.uid %]" [%IF loop.first %]class="Active"[% END %]><a>[% user.name %]さんの編集バッファ</a></li>
    [% END %]
  </ul>

  [%FOREACH user IN userlist %]
  <div id="logBuffer[% user.uid %]" class="Logtable User" [%UNLESS loop.first %]style="display: none;"[%END %]>
    [% IF user.loglist.size == 0 %]
      <div class="Description">編集履歴はありません</div>
    [% ELSE %]
      [% UNLESS user.is_live %]<div class="Description Alert">編集状態が古くなっています。次にバッファを保存した際に以下の編集状態は削除されます</div>[% END %]

      [% SET loglist = user.loglist %]
      [% SET is_live = user.is_live %]
      [% INCLUDE table_gitlog.tmpl %]
    [% END %]<!-- if user.loglist -->
  </div>
  [% END %]<!-- foreach userlist -->
[% END %]<!-- approve_pre -->
</section>

[%INCLUDE footer.tmpl %]
