[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]
[% INCLUDE userinfo.tmpl %]

<ul class="BackNav">
<li><a href="index.cgi">ファイル一覧に戻る</a></li> 
<li><a href="docinfo.cgi?fid=[% fid %]">ファイル履歴に戻る</a></li>
</ul>

<h2>[% file_name %]</h2>
<div class="Description">リヴィジョン<span class="Revision">[% revision %]</span>の差分</div>

<section class="DiffView">
  <div class="Canvas">
  [% FOREACH obj IN difflist %]<div class="Line">
    <div class="No">[% obj.no %]</div><div class="Content">[% obj.content %]</div>
  </div>[% END %]
  </div>
</section>

</body>
</html>
