[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]
[% INCLUDE userinfo.tmpl %]

<ul class="BackNav">
<li><a href="index.cgi">ドキュメント一覧</a></li>
</ul>

<section class="Docinfo">
[%INCLUDE docinfo_header.tmpl %]
</section><!-- docinfo -->

<section class="Gitlog">
  <h3 class="Subject">更新履歴</h3>

  <div id="logBuffer0" class="Logtable Master">
    [%SET loglist = sharedlist %]
    [%SET is_live = 1 %]
    [%INCLUDE table_gitlog.tmpl %]
  </div>

</section><!-- Gitlog -->

[%INCLUDE footer.tmpl %]

