<h1><span class="">[% doc_name %]</span></h1>
              
<ul class="Tags">
  [%IF is_public %]<li class="Public"><div>public</div></li>[%END %]
  [%IF is_approve %]<li class="Approver"><div>approver</div></li>[%END %]
  [%IF is_edit %]<li class="Editable"><div>editable</div></li>[%END %]
</ul>

<div class="Description">
  <div class="">[<a href="download.cgi?fid=[% fid %]">最新版DL</a>]</div>
  <div class="CreatedAt">作成日時:[% created_at %]</div>
  <div class="CreatedBy">管理者:[% created_by %]</div>
  <div class="LastApprovedAt">最終承認日時:[% last_updated_at %]</div>
  <div class="Filesize">ファイルサイズ:[% file_size %]byte</div>
</div>

<ul class="DocCtrl">
  <li [%UNLESS SUBMENU %]class="Selected"[%END %]><a href="doc_history.cgi?fid=[% fid %]" class="Btn">更新履歴</a></li>
  <li [%IF SUBMENU == "doc_outline" %]class="Selected"[%END %]><a href="doc_outline.cgi?fid=[% fid %]" class="Btn">最新版アウトライン</a></li>
  [%IF login %]
    [%IF is_edit || is_admin %]
      <li [%SWITCH SUBMENU %][%CASE ["edit_buffer" "edit_image" "edit_source" "edit_upload" "edit_log" "edit_merge"] %]class="Selected"[% END %]><a href="edit_buffer.cgi?fid=[% fid %]" class="Btn">編集バッファ</a></li>
    [%END %]
    [%IF is_approve || is_admin %]
      <li [%IF SUBMENU == "doc_approve" %]class="Selected"[%END %]><a href="doc_approve.cgi?fid=[% fid %]" class="Btn">承認</a></li>
    [%END %]
    [%IF is_owned || is_admin %]
      <li [%IF SUBMENU == "doc_setting" %]class="Selected"[%END %]><a href="doc_setting.cgi?fid=[% fid %]" class="Btn">設定</a></li>
    [%END %]
  [%END %]
</ul>

