[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]
[% INCLUDE userinfo.tmpl %]

<ul class="back-nav">
<li><a href="index.cgi">ファイル一覧に戻る</a></li>
</ul>

<section class="docinfo">
<h1>ドキュメントの詳細</h1>

<h2><a href="download.cgi?fid=[% fid %]" class="glyph download-alt"></a> [% file_name %]</h2>
<div class="description">
  <div class="created-at">作成日時：</div>
  <div class="created-by">作成者：</div>
  <div class="last-approved-at">最終承認日時：</div>
  <div class="filesize">ファイルサイズ：</div>
</div>

[% IF login %]
<div class="user-action">
<ul class="menu">
<li><a href="md_edit.cgi?fid=[% fid %]" class="btn">編集</a></li>
<li>
  <form action="?fid=[% fid %]" method="post" id="docx-upload" class="doc-upload-form" enctype="multipart/form-data">
    <div class="subject">ファイルアップロード</div>
    <div><label></label><input type="file" name="docxfile" /></div>
    <div><label>詳細：</label><input type="text" size="60" name="detail"></div>
    <div>
      <input type="submit" name="upload" value="アップロード">
      <input type="hidden" name="fid" value="[% fid %]">
    </div>
  </form>
</li>
</ul>
</div>
[% END %]

</section><!-- docinfo -->

<section class="gitlog">
  <h3 class="subject">更新履歴</h3>

  <ul id="buffer-list" class="buffer-list">
    [%FOREACH user IN userlist %]
    <li id="buffer-[% user.uid %]"><a onclick="javascript:showLog([% user.uid %]);">[% user.name %]さんの編集バッファ</a></li>
    [% END %]
    <li id="buffer-0" class="active"><a onclick="javascript:showLog(0);">承認済</a></li>
  </ul>

  <div id="log-buffer-0" class="logtable master">
    [% SET loglist = sharedlist %]
    [% SET is_live = 1 %]
    [% INCLUDE table_gitlog.tmpl %]
  </div>

  [%FOREACH user IN userlist %]
  [% IF user.loglist.size == 0 %]
  <div id="log-buffer-[% user.uid %]" class="logtable user" style="display: none;">
    <div class="description">編集履歴はありません</div>
  </div>
  [% ELSE %]
  <div id="log-buffer-[% user.uid %]" class="logtable user" style="display: none;">
    [% UNLESS user.is_live %]<div class="description alert">編集状態が古くなっています。次にバッファを保存した際に以下の編集状態は削除されます</div>[% END %]

    [% SET loglist = user.loglist %]
    [% SET is_live = user.is_live %]
    [% INCLUDE table_gitlog.tmpl %]
  </div>
  [% END %]<!-- if user.loglist -->
  [% END %]<!-- foreach userlist -->
</section><!-- gitlog -->

</body>
</html>
