<h1>
<span class="">[% file_name %]</span></h1>
<div class="Description">
  <div class="">[<a href="download.cgi?fid=[% fid %]">最新版DL</a>]</div>
  <div class="CreatedAt">作成日時:[% created_at %]</div>
  <div class="CreatedBy">作成者:[% created_by %]</div>
  <div class="LastApprovedAt">最終承認日時:[% last_updated_at %]</div>
  <div class="Filesize">ファイルサイズ:[% file_size %]byte</div>
</div>

<ul class="DocCtrl">
  <li [%UNLESS SUBMENU %]class="Selected"[%END %]><a href="docinfo.cgi?fid=[% fid %]" class="Btn">更新履歴</a></li>
  <li [%IF SUBMENU == "アウトプット" %]class="Selected"[%END %]><a href="md_output.cgi?fid=[% fid %]" class="Btn">最新版アウトライン</a></li>
  [%IF login %]
    [%IF is_edit || is_admin %]
      <li [%SWITCH SUBMENU %][% CASE ["編集バッファ" "画像" "アウトライン" "ソース" "アップロード" "編集履歴"] %]class="Selected"[% END %]><a href="md_edit.cgi?fid=[% fid %]" class="Btn">編集バッファ</a></li>
    [%END %]
    [%IF is_approve || is_admin %]
      <li [%IF SUBMENU == "承認" %]class="Selected"[%END %]><a href="docapprove.cgi?fid=[% fid %]" class="Btn">承認</a></li>
    [%END %]
    [%IF is_owned || is_admin %]
      <li [%IF SUBMENU == "設定" %]class="Selected"[%END %]><a href="docsetting.cgi?fid=[% fid %]" class="Btn">設定</a></li>
    [%END %]
  [%END %]
</ul>

