[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]
[% INCLUDE userinfo.tmpl %]

<ul class="BackNav">
<li><a href="index.cgi">ドキュメント一覧</a></li>
</ul>

<section class="Docinfo">
[%SET SUBMENU = "設定" %]
[%INCLUDE docinfo_header.tmpl %]
</section><!-- docinfo -->

<section class="DocSetting">
  <h3>全体公開フラグ</h3>
  <div><label id="PublicMark">[% is_public %]全体に公開する場合はチェックをつける<input type="checkbox" [%IF is_public %]checked[%END %]></label></div>

  <h3>ユーザー権限</h3>
  <div class="AllowUsersList">
    <table class="UsersTable">
      <thead>
	<tr>
	  <th></th>
	  <th>名前</th>
	  <th>承認</th>
          <th>編集</th>
	  <th>削除</th>
	</tr>
      </thead>
      <tbody>
	[%FOREACH u IN users %]
	<tr class="User" id="User[% u.user_id %]">
	  <td class="Select"><input type="checkbox" data-id="[% u.user_id %]"></td>
	  <td class="Name">[% u.nic_name %]</td>
	  <td class="Approve"><input type="checkbox" [%IF u.may_approve %]checked[%END %]></td>
          <td class="Edit"><input type="checkbox" [%IF u.may_edit %]checked[%END %]></td>
	  <td class="Delete"><input type="checkbox" [%IF u.may_delete %]checked[%END %]></td>
	</tr>
	[%END %]
	<tr class="UserTmpl" style="display: none;">
	  <td class="Select"><input type="checkbox"></td>
	  <td class="Name"></td>
	  <td class="Approve"><input type="checkbox"></td>
          <td class="Edit"><input type="checkbox"></td>
	  <td class="Delete"><input type="checkbox"></td>
	</tr>
      </tbody>
    </table>
    <button class="RemoveUser">削除</button>
  </div>

  <div class="UnallowUsersList">
    <button class="AddUser">追加</button>
    <select multiple="multiple">
      [%FOREACH u IN unallow_users %]
      <option value="[% u.id %]">[%u. nic_name %]</option>
      [%END %]
    </select>
  </div>

  <h3>ヘッダとフッダ</h3>

  <h3>ページ番号</h3>

</section> <!-- DocSetting -->

[%INCLUDE footer.tmpl %]
