[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]
[% INCLUDE userinfo.tmpl %]

<ul class="back-nav">
<li><a href="index.cgi">ドキュメント一覧</a></li>
<li><a href="docinfo.cgi?fid=[% fid %]">ドキュメント情報</a></li>
</ul>

<section class="docinfo">
[%SET SUBMENU = "アップロード" %]
[%INCLUDE docinfo_header.tmpl %]
</section><!-- docinfo -->

<section class="upload-form">
[% IF login %]
  <form action="?fid=[% fid %]" method="post" id="docx-upload" class="doc-upload-form" enctype="multipart/form-data">
    <div class="subject">ファイルアップロード</div>
    <div><label></label><input type="file" name="docxfile" /></div>
    <div><label>詳細：</label><input type="text" size="60" name="detail"></div>
    <div>
      <input type="submit" name="upload" value="アップロード">
      <input type="hidden" name="fid" value="[% fid %]">
    </div>
  </form>
[% ELSE %]
  <div class="caution">本ページへのアクセスはログインが必要です</div>
[% END %]
</section>

</body>
</html>
