[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]

<ul class="BackNav">
<li><a href="index.cgi">ドキュメント一覧</a></li> 
</ul>

<section class="Docinfo">
[%SET SUBMENU = "edit_image" %]
[%INCLUDE docinfo_header.tmpl %]
</section> <!-- docinfo -->

[%INCLUDE info.tmpl %]

<section class="MdBuffer">
  [% INCLUDE buffer_menu.tmpl %]

  <div class="BufferEdit">
    <div class="ImageManager">
      <form class="ImageUploader" method="post" action="?fid=[% fid %]" enctype="multipart/form-data">
        <input type="file" name="imagefile" />
        <input type="submit" name="upload" value="アップロード">
        <input type="hidden" name="fid" value="[% fid %]">
      </form>

      [% IF images %]
      <form class="ImageAction" method="post" action="?fid=[% fid %]">
        <input type="submit" name="delete" value="削除">
        <input type="hidden" name="fid" value="[% fid %]">
        <ul class="Thumbnail">
	      [% FOREACH image IN images %]
	      <li>
	        <div class="Info"><input type="checkbox" name="select_image" value="[% image %]"> [% image %]</div>
	        <img src="md_imageView.cgi?image=[% image %]&fid=[% fid %]&uid=[% uid %]&tmp=1&thumbnail=1">
	      </li>
	      [% END %]
        </ul>
      </form>
      [% END %]
    </div>
  </div>
  </div> <!-- commitForm -->

</section>

[%INCLUDE footer.tmpl %]
