[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]
[% INCLUDE userinfo.tmpl %]

<ul class="BackNav">
<li><a href="index.cgi">ドキュメント一覧</a></li> 
</ul>

<section class="Docinfo">
[%SET SUBMENU = "編集履歴" %]
[%INCLUDE docinfo_header.tmpl %]
</section> <!-- docinfo -->

[%INCLUDE info.tmpl %]

<section class="BufferLog">
  [%INCLUDE buffer_menu.tmpl %]

  <div class="GitLog">
    [%IF !loglist || loglist.size == 0 %]
      <div class="Description">編集履歴はありません</div>
    [%ELSE %]
      [%UNLESS is_live %]<div class="Description Alert">編集状態が古くなっています。次にバッファを保存した際に以下の編集状態は削除されます</div>[% END %]
      [%INCLUDE table_gitlog.tmpl %]
    [%END %]<!-- loglist.size -->
  </div>
</section>

[%INCLUDE footer.tmpl %]

