[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]
[% INCLUDE userinfo.tmpl %]

<ul class="BackNav">
<li><a href="index.cgi">ドキュメント一覧</a></li> 
</ul>

<section class="Docinfo">
[%SET SUBMENU = "edit_merge" %]
[%INCLUDE docinfo_header.tmpl %]
</section> <!-- docinfo -->

[%INCLUDE info.tmpl %]

<section class="BufferMerge">
  [%INCLUDE buffer_menu.tmpl %]

  <div class="MergeView">
    <div class="Mine">
      <ul class="Document">
        [%FOREACH line IN doc_mine %]
          <li id="Mine[% loop.index + 1 %]">
            <div class="Num">[% loop.index + 1 %]</div>
            <div class="Line">[% line %]</div>
          </li>
        [%END %]
      </ul>
    </div>
    <div class="Master">
      <ul class="Document">
        [%FOREACH line IN doc_master %]
          <li id="Master[% loop.index + 1 %]">
            <div class="Num">[% loop.index + 1 %]</div>
            <div class="Line">[% line %]</div>
          </li>
        [%END %]
      </ul>
    </div>

  <div class="DiffInfo">
  [%FOREACH d IN diff %]
    <div>[% d.content %]</div>
  [%END %]
  </div>

  </div>
</section>

[%INCLUDE footer.tmpl %]

