[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]
[% INCLUDE userinfo.tmpl %]
[% INCLUDE error.tmpl %]

<ul class="back-nav">
<li><a href="index.cgi">ファイル一覧に戻る</a></li>
</ul>

<h2>[% file_name %]</h2>
<div class="description">
<span class="download-link"><a href="download.cgi?fid=[% fid %]">最新版DL</a></span>
<h3>更新履歴</h3>
</div>

[% IF login %]
<form action="?fid=[% fid %]" method="post" id="docx-upload" class="" enctype="multipart/form-data">
  <div>docxファイル：<input type="file" name="docxfile"></div>
  <div>詳細：<input type="text" size="100" name="detail"></div>
  <div>
    <input type="submit" name="upload" value="アップロード">
    <input type="hidden" name="fid" value="[% fid %]">
  </div>
</form>
[% END %]

<section class="gitlog user">
</section>

[%FOREACH user IN userlist %]
<section class="gitlog user">
<div class="subject">[% user.name %]さんの編集履歴</div>
[% UNLESS user.is_live %]<div class="description alert">編集状態が古くなっています。次にコミットした際に古い編集履歴は削除されます</div>[% END %]
[% IF user.id == login && is_mdfile %]
<ul class="mdfile-toolbar">
  <li>[<a href="mdfile_edit.cgi?fid=[% fid %]">編集</a>]</li>
  <li>[<a href="mdfile_view.cgi?fid=[% fid %]">閲覧</a>]</li>
</ul>
[% END %]
[% IF user.loglist.size == 0 %]
<div class="gitlog description">編集履歴はありません</div>
[% ELSE %]
<table class="gitlog user-branch">
<thead>
  <tr>
    <th class="date">更新年月日</th>
    <th class="message">詳細</th>
    <th class="author">更新者</th>
    <th class="ctrl">操作</th>
  </tr>
</thead>
<tbody>
[% FOREACH log IN user.loglist %]
  <tr class="user-branch [% UNLESS user.is_live %]old[% END %]">
    <td class="date">[% log.attr.date %]</td>
    <td class="message">[% log.message %]</td>
    <td class="author">[% log.attr.author %]</td>
    <td class="ctrl">
        <span class="download-link"><a href="download.cgi?fid=[% fid %]&revision=[% log.id %]">download</a></span>
        [% UNLESS loop.last %]
          <br><span class="diff"><a href="filediff.cgi?fid=[% fid %]&revision=[% log.id %]">差分</a></spa>
        [% END %]
        <br><span class="master-diff"><a href="filediff.cgi?fid=[% fid %]&revision=[% log.id %]&dist=master">共有との差分</a></spa>
        [% IF is_approve && user.is_live %]
            <br><span class="commit-approve"><a href="approve.cgi?fid=[% fid %]&branch=[% user.branch %]&revision=[% log.id %]">ここまでを承認する</a></span>
        [% END %]
    </td>
  </tr>
[% END %]
</tbody>
</table>
[% END %]<!-- if user.loglist -->
</section><!-- gitlog.user -->
[% END %]<!-- foreach userlist -->

<section class="gitlog master">
<div class="subject">承認された編集履歴</div>
<table class="gitlog">
<thead>
  <tr>
    <th class="date">更新年月日</th>
    <th class="message">詳細</th>
    <th class="author">更新者</th>
    <th class="ctrl">操作</th>
  </tr>
</thead>
<tbody>
[% FOREACH log IN loglist %]
  <tr class="[% IF log.local %]user-branch[% ELSE %]master[% END %]">
    <td class="date">[% log.attr.date %]</td>
    <td class="message">[% log.message %]</td>
    <td class="author">[% log.attr.author %]</td>
    <td class="ctrl">
        <span class="download-link"><a href="download.cgi?fid=[% fid %]&revision=[% log.id %]">download</a></span>
        [% UNLESS loop.last %]
          <br><span class="diff"><a href="filediff.cgi?fid=[% fid %]&revision=[% log.id %]">差分</a></spa>
        [% END %]
        [% IF log.local %]
          <br><span class="master-diff"><a href="filediff.cgi?fid=[% fid %]&revision=[% log.id %]&dist=master">共有との差分</a></spa>
          [% IF is_approve %]
            <br><span class="commit-approve"><a href="approve.cgi?fid=[% fid %]&branch=[% log.branch %]&revision=[% log.id %]">ここまでを承認する</a></span>
          [% END %]
        [% END %]
    </td>
  </tr>
[% END %]
</tbody>
</table>
</section><!-- gitlog.master -->

</body>
</html>
