[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]
[% INCLUDE userinfo.tmpl %]
<div>[% debug %]</div>

<section class="top">

<div class="top-menu">
  <div class="subject">
    <span class="title">ドキュメント一覧</span>
  [% IF login %]
    <div class="menu">
      <a href="create.cgi" class="button"><i class="glyph plus"></i>新規追加</a>
      <a href="upload_docx.cgi" class="button"><i class="glyph inbox_plus"></i>docx登録</a>
    </div>
  [% END %]
  </div>
  [% IF infos %]
  <table class="doc-list">
    <tbody>
      [% FOREACH info IN infos %]
      <tr class="[% IF info.is_used %]active[% ELSE %]nonactive[% END %] [% IF info.deleted_at %]deleted[% END %]">
        <td class="info">

          [% UNLESS info.deleted_at %]
          [% IF is_delete || is_admin %]
          <div class="doc-ctrl">
            <form action="" method="post">
              [% IF info.is_used %]
               <input type="submit" name="unuse" value=" " class="glyph ban">
              [% ELSE %]
              <input type="submit" name="use" value=" " class="glyph ok">
              <input type="submit" name="delete" value=" " class="glyph bin">
              [% END %]
              <input type="hidden" name="fid" value="[% info.id %]">
            </form>
          </div>
          [% END %] <!-- IF is_delete || is_admin -->
          [% END %] <!-- UNLESS info.deleted_at -->
          
          <div class="doc-subject">
            [% IF info.deleted_at %]
              <div class="name">[% info.file_name %]</div>
            [% ELSIF info.is_used %]
              <div class="name"><a href="docinfo.cgi?fid=[% info.id %]">[% info.file_name %]</a></div>
            [% ELSE %]
              <div class="name">[% info.file_name %]</div>
            [% END %]
          </div> <!-- doc-subject -->

          <div class="doc-detail">
          [% IF !info.deleted_at and info.is_used %]
            <div class="">[<a href="md_output.cgi?fid=[% info.id %]">最新版アウトライン</a>]</div>
            <div class="">[<a href="download.cgi?fid=[% info.id %]">最新版DL</a>]</div>
          [% END %]
            <div class="create-at">作成日時:[% info.created_at %]</div>
            <div class="created-by">作成者:[% info.created_by %]</div>
            <div class="last-approved-at">最終承認日時:[% info.last_updated_at %]</div>
            <div class="filesize">最終ファイルサイズ:[% info.file_size %]byte</div>
          </div>
        </td>
      </tr>
      [% END %]
    </tbody>
  </table>
  [% ELSE %]
  <div class="no-file">
    ファイルは登録されていません
  </div>
  [% END %]
</div><!-- top-menu -->

</section>

</body>
</html>


