[% IF message %]
<section class="message">
  [%IF message.error %]<div class="error">[% message.error %]</div>[% END %]
  [%IF message.info %]<div class="info">[% message.info %]</div>[% END %]
</section>
[% END %]
