<section class="Message">
  [%IF message.error %]
    <ul class="Error">
    [%FOREACH e IN message.error %]
      <li>[% e %]</li>
    [%END %]
    </ul>
  [%END %]
  [%IF message.info %]
    <ul class="Info">
    [%FOREACH i IN  message.info %]
      <li>[% i %]</li>
    [%END %]
    </ul>
  [%END %]
  [%IF message.buffered %]
    <ul class="Buffered">
    [%FOREACH i IN  message.buffered %]
      <li>
        [% i %]
        <form action="?fid=[% fid %]" method="POST" class="ResetBuffer">
          <input type="hidden" name="fid" value="[% fid %]">
          <input type="submit" value="バッファリセット" name="resetBuffer">
        </form>
      </li>
    [%END %]
    </ul>
  [%END %]
</section>
