<section class="Message">
  [%IF message.error %]
    <ul class="Error">
    [%FOREACH e IN message.error %]
      <li>[% e %]</li>
    [%END %]
    </ul>
  [%END %]
  [%IF message.info %]
    <ul class="Info">
    [%FOREACH i IN  message.info %]
      <li>[% i %]
        <div class="Ctrl"><a class="CloseBtn"><span class="typcn typcn-delete"></span></a></div>
      </li>
    [%END %]
    </ul>
  [%END %]
    <ul class="Buffered [%UNLESS message.buffered %]Disable[%END %]">
      <li>
        コミットされていないバッファがあります
        <form action="?fid=[% fid %]" method="POST" class="ResetBuffer">
          <input type="hidden" name="fid" value="[% fid %]">
          <input type="submit" value="バッファリセット" name="resetBuffer">
        </form>
      </li>
    </ul>
</section>
