[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]
[% INCLUDE userinfo.tmpl %]

<ul class="back-nav">
<li><a href="index.cgi">ファイル一覧に戻る</a></li> 
<li><a href="docinfo.cgi?fid=[% fid %]">ファイル履歴に戻る</a></li>
<li><a href="md_view.cgi?fid=[% fid %]">閲覧に戻る</a></li>
</ul>

<h2>[% file_name %]</h2>
<h3>編集バッファ</h3>
<section class="md_buffer">
  [% SWITCH style %]
  [% CASE "source" %]
  <form class="md-editor" action="?fid=[% fid %]" method="post">
    <div class="md-buffer-fix">
      <input type="submit" name="commit" value="バッファをコミット">
      コメント：<input type="text" name="comment" size="30">
      <input type="hidden" name="fid" value="[% fid %]">  
    </div>

    <ul class="md_menu">
      <li class="active">ソース</li>
      <li><a href="?fid=[% fid %]&style=preview">プレビュー</a></li>
    </ul>

    <div class="canvas"><textarea rows="20" name="document">[% document %]</textarea></div>
    <div class="ctrl">
      <input type="submit" name="update" value="一時保存">
      <input type="hidden" name="fid" value="[% fid %]">  
    </div>
  </form>
  [% CASE "preview" %]
  <form class="md-buffer-fix" action="?id=fid=[% fid %]" method="post">
    <input type="submit" name="commit" value="バッファをコミット">
    コメント：<input type="text" name="comment" size="30">
    <input type="hidden" name="fid" value="[% fid %]">  
  </form>
  <ul class="md_menu">
    <li><a href="?fid=[% fid %]&style=source">ソース</a></li>
    <li class="active">プレビュー</li>
  </ul>
  <div class="document">
    [% document %]
  </div>
  [% END %]
</section>

</body>
</html>
