[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]
[% INCLUDE userinfo.tmpl %]

<ul class="back-nav">
<li><a href="index.cgi">ドキュメント一覧</a></li> 
<li><a href="docinfo.cgi?fid=[% fid %]">ドキュメント情報</a></li>
</ul>

<section class="docinfo">
[%SET SUBMENU = "編集バッファ" %]
[%INCLUDE docinfo_header.tmpl %]
</section> <!-- docinfo -->

<section class="md_buffer">
  [% INCLUDE buffer_menu.tmpl %]

  <div class="buffer_edit">
    <ul class="pagenav">
      <li><a class="outline_page" data-elm="0">1</a></li>
      [% FOREACH divide IN divides %]
      <li><a class="outline_page" data-elm="[% divide %]">[% loop.index() + 2 %]</a></li>
      [% END %]
    </ul>

    <div class="document">
      [% markdown %]
    </div>

    <div id="editform" class="editform" style="display: none;">
      <textarea id="editdata" class="editdata" name="editdata"></textarea>
      <button class="update">更新</button>
      <button class="delete">削除</button>
      <button class="cancel">キャンセル</button>
      <button class="image_view">画像</button>
    </div>

  </div> <!-- buffer_edit -->
</section>

</body>
</html>
