[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]
[% INCLUDE userinfo.tmpl %]

<ul class="BackNav">
<li><a href="index.cgi">ドキュメント一覧</a></li> 
<li><a href="docinfo.cgi?fid=[% fid %]">ドキュメント情報</a></li>
</ul>

<section class="Docinfo">
[%SET SUBMENU = "アウトライン" %]
[%INCLUDE docinfo_header.tmpl %]
</section <!-- docinfo -->

[%INCLUDE info.tmpl %]

<section class="OutlineEditor">
  [% INCLUDE buffer_menu.tmpl %]

  <div class="BufferEdit">
    <div class="Document">
      <div id="blkTmpl" class="Blk">
        <a class="BtnExpand"><i class="Glyph Plus"></i></a>
        <span class="Tagname"></span>
        <span class="Digest"></span>
        <button class="DivideCtrl">直後で改ページ</button>
      </div>
      <div id="divideInfo" class="DivideInfo">
        [% IF divides %]
        [% FOREACH divide IN divides %]
        <span class="Divide">[% divide %]</span>
        [% END %]
        [% END %]
      </div>

      [% markdown %]
    </div>
  </div> <!-- commitForm -->

</section>

</body>
</html>

