[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]
[% INCLUDE userinfo.tmpl %]

<ul class="back-nav">
<li><a href="index.cgi">ドキュメント一覧</a></li> 
<li><a href="docinfo.cgi?fid=[% fid %]">ドキュメント情報</a></li>
</ul>

<section class="docinfo">
<h1><span class="title">[アウトライン]</span><span class="file_title">[% file_name %]</span></h1>
<div class="description">
  [% IF is_mdfile %]<div class="">[<span class="active">最新版アウトライン</span>]</div>[% END %]
  <div class="">[<a href="download.cgi?fid=[% fid %]">最新版DL</a>]</div>
  <div class="created-at">作成日時:[% created_at %]</div>
  <div class="created-by">作成者:[% created_by %]</div>
  <div class="last-approved-at">最終承認日時:[% last_updated_at %]</div>
  <div class="filesize">ファイルサイズ:[% file_size %]byte</div>
</div>


アウトライン(全ページ表示・ページ単位)
見出しマップ

<button class="btn" id="printOutline">印刷アウトライン</button>

</section> <!-- docinfo -->

<section class="outline">
  <div class="cover page">
    <div class="title">[% file_name %]</div>
    <div class="revision">[% revision %]</div>
  </div>

  <div class="history page">
    <div class="subject">更新履歴</div>
    <table class="gitlog">
      <thead>
        <tr>
	      <th class="date">更新年月日</th>
          <th class="rev">Rev</th>
	      <th class="message">詳細</th>
	      <th class="author">更新者</th>
        </tr>
      </thead>
      <tbody>
        [% FOREACH log IN loglist %]
        <tr class="log">
          <td class="date">[% log.cdate %]</td>
          <td class="rev">[% log.sha1_name %]</td>
          <td class="message">[% log.message %]</td>
          <td class="author">[% log.attr.author %]</td>
        </tr>
        [% END %]
      </tbody>
    </table>
  </div>

  <div class="contents page">
    <div class="subject">目次</div>
    <ul>
      [% FOR content IN contents %]
      <li class="level[% content.level %]">[% content.line %]</li>
      [% END %]
    </ul>
  </div>

  <div class="document page">[% document %]</div>

</section>

</body>
</html>
