[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]
[% INCLUDE userinfo.tmpl %]

<ul class="back-nav">
<li><a href="index.cgi">ドキュメント一覧</a></li> 
<li><a href="docinfo.cgi?fid=[% fid %]">ドキュメント情報</a></li>
</ul>

<section class="docinfo">
[%SET SUBMENU = "編集バッファ" %]
[%INCLUDE docinfo_header.tmpl %]
</section> <!-- docinfo -->

<section class="md_buffer">
  <h3>ソースエディタ</h3>
  <form class="md_source" action="?fid=[% fid %]" method="post">
    <div class="edit_menu">
      <div class="md-buffer-fix">
	コメント：<textarea name="comment" rows="3" cols="70"></textarea>
	<input type="submit" name="commit" value="バッファをコミット">
	<input type="hidden" name="fid" value="[% fid %]">  
      </div>
      <ul class="tabnav">
        <li><a href="md_image.cgi?fid=[% fid %]">画像ファイル</a></li>
	<li><a href="md_edit.cgi?fid=[% fid %]">エディタに戻る</a></li>
      </ul>
    </div>

    <div class="canvas"><textarea rows="20" name="document">[% document %]</textarea></div>
    <div class="ctrl">
      <input type="submit" name="update" value="一時保存">
      <input type="hidden" name="fid" value="[% fid %]">  
    </div>
  </form>
</section>

</body>
</html>
