[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]
[% INCLUDE userinfo.tmpl %]

<ul class="back-nav">
<li><a href="index.cgi">ドキュメント一覧</a></li> 
<li><a href="docinfo.cgi?fid=[% fid %]">ドキュメント情報</a></li>
</ul>

<section class="docinfo">
<h1><span class="title">[<a href="docinfo.cgi?fid=[% fid %]">情報</a>::編集バッファ]</span><span class="">[% file_name %]</span></h1>
<div class="description">
  [% IF is_mdfile %]<div class="">[<a href="md_output.cgi?fid=[% fid %]">最新版アウトライン</a>]</div>[% END %]
  <div class="">[<a href="download.cgi?fid=[% fid %]">最新版DL</a>]</div>
  <div class="created-at">作成日時:[% created_at %]</div>
  <div class="created-by">作成者:[% created_by %]</div>
  <div class="last-approved-at">最終承認日時:[% last_updated_at %]</div>
  <div class="filesize">ファイルサイズ:[% file_size %]byte</div>
</div>

<ul class="doc-ctrl">
  <li class="selected"><a href="md_edit.cgi?fid=[% fid %]" class="btn">編集バッファ</a></li>
  <li><a href="docupload.cgi?fid=[% fid %]" class="btn">アップロード</a></li>
  <li><a href="md_outline.cgi?fid=[% fid %]" class="btn">アウトライン</a></li>
  <li><a href="docapprove.cgi?fid=[% fid %]" class="btn">承認</a></li>
</ul>

</section> <!-- docinfo -->

<section class="md_buffer">
  <h3>ソースエディタ</h3>
  <form class="md-editor" action="?fid=[% fid %]" method="post">
    <div class="edit-menu">
      <div class="md-buffer-fix">
	<input type="submit" name="commit" value="バッファをコミット">
	コメント：<input type="text" name="comment" size="30">
	<input type="hidden" name="fid" value="[% fid %]">  
      </div>
      <ul>
	<li><a href="md_edit.cgi?fid=[% fid %]">エディタに戻る</a></li>
      </ul>
    </div>

    <div class="canvas"><textarea rows="20" name="document">[% document %]</textarea></div>
    <div class="ctrl">
      <input type="submit" name="update" value="一時保存">
      <input type="hidden" name="fid" value="[% fid %]">  
    </div>
  </form>
</section>

</body>
</html>
