[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]
[% INCLUDE userinfo.tmpl %]

<ul class="back-nav">
<li><a href="index.cgi">ドキュメント一覧</a></li> 
<li><a href="docinfo.cgi?fid=[% fid %]">ドキュメント情報</a></li>
</ul>

<section class="docinfo">
[%SET SUBMENU = "ソース" %]
[%INCLUDE docinfo_header.tmpl %]
</section> <!-- docinfo -->

[% INCLUDE info.tmpl %]

<section class="md_buffer">
  [% INCLUDE buffer_menu.tmpl %]

  <div class="buffer_edit source">
    <form action="?fid=[% fid %]" method="post">
      <div class="ctrl">
        <input type="submit" name="update" value="保存">
        <input type="hidden" name="fid" value="[% fid %]">  
      </div>
      <div class="canvas"><textarea rows="20" name="document">[% document %]</textarea></div>
    </form>
  </div> <!-- buffer_edit.source -->
</section>

</body>
</html>
