[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]
[% INCLUDE userinfo.tmpl %]

<ul class="BackNav">
<li><a href="index.cgi">ファイル一覧に戻る</a></li> 
<li><a href="docinfo.cgi?fid=[% fid %]">ファイル履歴に戻る</a></li>
</ul>

<section class="Docinfo">
<h1>ドキュメント閲覧</h1>

<h2><a href="download.cgi?fid=[% fid %]&revision=[% revision %]" class="Glyph DownloadAlt"></a> [% file_name %]</h2>
<div class="Description">
  <div class="CreatedAt">作成日時：</div>
  <div class="CreatedBy">作成者：</div>
  <div class="LastApprovedAt">最終承認日時：</div>
  <div class="Filesize">ファイルサイズ：</div>
</div>

[% IF login %]
<div class="UserAction">
[% IF is_buffer && git_is_latest %]
<h3>編集バッファに可能な操作</h3>
<div class="Description">編集バッファの最終版に対してドキュメントの編集を行なうことが出来ます。編集を行なう際は以下の『編集』ボタン、もしくはファイルアップロードから行なってください。</div>
<ul class="Menu">
<li><a href="md_edit.cgi?fid=[% fid %]" class="Btn">編集</a></li>
<li>
  <form action="?fid=[% fid %]" method="post" id="docx-upload" class="DocUploadForm" enctype="multipart/form-data">
    <div class="Subject">ファイルアップロード</div>
    <div><label></label><input type="file" name="docxfile" /></div>
    <div><label>詳細：</label><input type="text" size="60" name="detail"></div>
    <div>
      <input type="submit" name="upload" value="アップロード">
      <input type="hidden" name="fid" value="[% fid %]">
    </div>
  </form>
</li>
</ul>
[% END %]
</div>
[% END %]
</section><!-- docinfo -->

<section class="Document">
<div class="Property">
</div>
  <ul class="Property">
[% IF login %]
<li class="Status">
[% IF is_buffer &&  git_is_latest %]
この編集バッファは編集可能です。編集する場合は上記の『編集』ボタンを押下してください。
[% ELSE %]
  [% UNLESS is_buffer %]
  共有されたドキュメントなので編集できません
  [% ELSE %]
  この編集バッファは古いバージョンなので編集できません
  [% END %]
[% END %]
</li>
[% END %]
    <li><div class="Subject">コメント</div><div class="Value">[% git_comment %]</div></li>
    <li><div class="Subject">コミット日時</div><div class="Value">[% git_commit_date %]</span></li>
    <li class="Revision"><div class="Subject">Rev.</div><div class="Value">[% revision %]</div></li>
  </ul>
  <div class="Canvas">[% document %]</div>
</section>

</body>
</html>
