[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]
[% INCLUDE userinfo.tmpl %]

<ul class="back-nav">
<li><a href="index.cgi">ファイル一覧に戻る</a></li> 
<li><a href="docinfo.cgi?fid=[% fid %]">ファイル履歴に戻る</a></li>
</ul>

<div class="description">
[% IF login %]
<div class="mdfile-toolbar">
<a href="md_edit.cgi?fid=[% fid %]">編集</a>
</div>
[% END %]
</div>

<h2>[% file_name %]</h2>

<section class="document">
[% document %]
</section>

</body>
</html>
