[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]
[% INCLUDE userinfo.tmpl %]
[% INCLUDE error.tmpl %]

<ul class="back-nav">
<li><a href="index.cgi">ファイル一覧に戻る</a></li> 
<li><a href="fileinfo.cgi?fid=[% fid %]">ファイル履歴に戻る</a></li>
</ul>

<h2>[% file_name %]</h2>


</body>
</html>
