[% IF fid %]<input type="hidden" name="fid" value="[% fid %]">[% END %]
[% IF revision %]<input type="hidden" name="revision" value="[% revision %]">[% END %]
[% IF user %]<input type="hidden" name="user" value="[% user %]">[% END %]
