[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]

<div>[% debug %]</div>

<ul class="BackNav">
<li><a href="index.cgi">BACK</a></li>
</ul>
[%IF message %]
  [%INCLUDE info.tmpl %]
[%END %]
<section class="Profile">
  <h1>アカウント編集</h1>

  <form class="AccountForm">
    <div class="Item">
      <label for="profileAccount">アカウント</label>
      <input type="text" id="profileAccount" name="account" value="[% userinfo.account %]">
    </div>
    <div class="Item">
      <label for="profileNicName">表示名</label>
      <input type="text" id="profileNicName" name="nic_name" value="[% userinfo.nic_name %]">
    </div>
    <div class="Item">
      <label for="profileMail">メール</label>
      <input type="text" id="profileMail" name="mail" value="[% userinfo.mail %]">
    </div>
    <div class="Item">
      <label for="profilePassword">パスワード</label>
      <input type="password" id="profilePassword" name="password">
    </div>
    <div class="Item">
      <label for="profileRePassword">パスワード(再入力)</label>
      <input type="password" id="profileRePassword" name="re_password">
    </div>
    <div class="Item">
      <input type="submit" name="save" value="保存">
    </div>
  </form>
</section>

[%INCLUDE footer.tmpl %]
