<table class="gitlog">
  <thead>
    <tr>
	  <th class="date">更新年月日</th>
	  <th class="message">詳細</th>
	  <th class="author">更新者</th>
	  <th class="ctrl">操作</th>
    </tr>
  </thead>
  <tbody>
    [% FOREACH log IN loglist %]
    <tr class="log [% UNLESS is_live %]old[% ELSIF log.user %]user[% END %]">
       <td class="date">[% log.attr.date %]</td>
       <td class="message">[% log.message %]</td>
       <td class="author">[% log.attr.author %]</td>
       <td class="ctrl">

 [% IF is_mdfile %]
 <span class="mdfile-toolbar"><a href="md_view.cgi?fid=[% fid %][% IF log.user %]&user=[% log.user %][% END %]&revision=[% log.id %]">閲覧</a></span>
[% END %]

        <span class="download-link"><a href="download.cgi?fid=[% fid %]&revision=[% log.id %]">download</a></span>
        [% UNLESS loop.last %]
          <br><span class="diff"><a href="docdiff.cgi?fid=[% fid %]&revision=[% log.id %]">差分</a></spa>
        [% END %]
        [% IF log.user > 0 %]
          <br><span class="master-diff"><a href="docdiff.cgi?fid=[% fid %]&revision=[% log.id %]&dist=master">共有との差分</a></spa>
        [% END %]
        [% IF is_approve && is_live && log.user > 0  %]
            <br><span class="commit-approve"><a href="approve.cgi?fid=[% fid %]&user=[% log.user %]&revision=[% log.id %]">ここまでを承認する</a></span>
        [% END %]
     </td>
    </tr>
    [% END %]
  </tbody>
</table>
