<table class="Gitlog">
  <thead>
    <tr>
	  <th class="Date">更新年月日</th>
	  <th class="Message">詳細</th>
	  [%UNLESS EDIT_LOG %]<th class="Author">更新者</th>[%END %]
	  <th class="Ctrl">操作</th>
    </tr>
  </thead>
  <tbody>
    [% FOREACH log IN loglist %]
    <tr class="Log [% UNLESS is_live %]Old[% ELSIF log.user %]User[% END %]" id="Log[% log.id %]">
       <td class="Date">[% log.attr.date %]</td>
       <td class="Message">
         [%IF EDIT_LOG %]
           <div class="Ctrl" data-revision="[% log.id %]">
           [%IF loop.first %]
             <textarea>[% log.raw %]</textarea>
             <a class="Btn Edit">保存</a>
           [%ELSE %]
             <textarea class="CtrlTemp">[% log.raw %]</textarea>
             <a class="CtrlTemp Btn Edit">保存</a>
             <div class="Body">[% log.message %]</div>
           [%END %]
           </div>
         [%ELSE %]
           <div class="Body">[% log.message %]</div>
         [%END %]
       </td>
       [%UNLESS EDIT_LOG %]<td class="Author">[% log.attr.author %]</td>[%END %]
       <td class="Ctrl">
         <ul>
           <li><span class="RevisionCtrl"><a class="RevisionViewer" data-fid="[% fid %]" [%IF log.user %]data-user="[% log.user %]"[% END %] data-revision="[% log.id %]">VIEW</a></span></li>
           <li><span class="DownloadLink"><a href="download.cgi?fid=[% fid %]&revision=[% log.id %]">DOWNLOAD</a></span></li>
           [%UNLESS loop.last %]
             <li><span class="RevisionCtrl"><a class="DiffViewer" data-fid="[% fid %]" data-revision="[% log.id %]">DIFF</a></span></li>
           [%END %]
           [%IF log.user %]
             <li><span class="RevisionCtrl"><a class="DiffViewer" data-fid="[% fid %]" data-revision="[% log.id %]" data-dist="master">masterDIFF</a></spa></li>
           [%END %]
           [%IF EDIT_LOG %]
             <li [%UNLESS loop.first %]class="CtrlTemp"[%END %]>
               <span class="RevisionCtrl"><a class="Rollback" data-fid="[% fid %]" data-revision="[% log.id %]">ROLLBACK</a></span>
             </li>
           [%ELSE %]
             [%IF is_approve && is_live && log.user %]
               <li>
                 <form class="ApproveForm" method="post">
                   <input type="hidden" name="fid" value="[% fid %]">
                   <input type="hidden" name="user" value="[% log.user %]">
                   <input type="hidden" name="revision" value="[% log.id %]">
                   <input type="submit" name="approve_pre" value="承認" class="Btn">
                 </form>
               </li>
             [%END %]
           [%END %]
         </ul>
       </td>
    </tr>
    [% END %]
  </tbody>
</table>

<div class="RevisionViewerDialog" id="revisionViewer" style="display:none;">
  <div class="Document">
    <div class="Name"></div>
    <div class="Info">
      <div class="CommitDate"></div>
      <div class="CommitMessage"></div>
    </div>
    <div class="Caution">ビューアーを終えるにはいずれかのキーを押してください</div>
    <div class="Body"></div>
  </div>
</div>

<div class="DiffViewerDialog" id="diffViewer" style="display:none;">
  <div class="Document">
    <div class="Name"></div>
    <div class="Info">
      <span class="Revision"></span>と<span class="Dist"></span>を比較
    </div>
    <div class="Caution">ビューアーを終えるにはいずれかのキーを押してください</div>
    <div class="Body"></div>
  </div>
</div>

