[% INCLUDE header.tmpl %]
[% INCLUDE apptitle.tmpl %]
[% INCLUDE userinfo.tmpl %]
<div>[% debug %]</div>

<section class="upload-docx">

<form action="" method="post" id="docx-upload" class="" enctype="multipart/form-data">
  <div class="subject">docxファイルの追加フォーム</div>
  <div>docxファイル：<input type="file" name="uploadfile"></div>
  <div><input type="submit" name="upload" value="アップロード"></div>
</form>

</section>

</body>
</html>
