[% IF login %]
<section class="userinfo">
  <ul>
  <li class="user account">ユーザーアカウント：[% account %]</li>
  [% IF is_admin %]
    <li class="user admin"><a href="admin.cgi">[管理ページ]</a></li>
  [% END %]
  </ul>
</section>
[% END %]
