<div class="DiffViewerDialog" id="diffViewer" style="display:none;">
  <div class="Document">
    <div class="Name"></div>
    <div class="Info">
      <span class="Revision"></span>と<span class="Dist"></span>を比較
    </div>
    <div class="Caution">ビューアーを終えるにはいずれかのキーを押してください</div>
    <div class="Body"></div>
  </div>
</div>
